



  <div id="instance_attr_details" class="attr_details">
    
      
      <span id="options[:extend_page_class]=-instance_method"></span>
      <div class="method_details first">
  <h3 class="signature first" id="options[:extend_page_class]=-instance_method">
  
    - (<tt>Boolean</tt>) <strong>options[:extend_page_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>If true then the default <strong>Middleman</strong> <code>page_class</code> helper will be extended
to include simple <code>group</code> and <code>page_name</code> for each resource.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p><code>true</code> or <code>false</code> to enable or disable this feature.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_breadcrumbs_alt_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_breadcrumbs_alt_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_breadcrumbs_alt_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_breadcrumbs_alt</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_breadcrumbs_alt_label]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_breadcrumbs_alt_label]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_breadcrumbs_alt_label]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default “current page” label for the <code>nav_breadcrumbs_alt</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_breadcrumbs_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_breadcrumbs_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_breadcrumbs_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_breadcrumbs</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_brethren_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_brethren_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_brethren_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_brethren</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_brethren_index_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_brethren_index_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_brethren_index_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_brethren_index</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_legitimate_children_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_legitimate_children_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_legitimate_children_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_legitimate_children</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_prev_next_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_prev_next_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_prev_next_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_prev_next</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_prev_next_label_next]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_prev_next_label_next]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_prev_next_label_next]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default “next” label text for the <code>nav_prev_next</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_prev_next_label_prev]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_prev_next_label_prev]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_prev_next_label_prev]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default “previous” label text for the <code>nav_prev_next</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:nav_toc_index_class]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:nav_toc_index_class]=-instance_method">
  
    - (<tt>String</tt>) <strong>options[:nav_toc_index_class]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Default css class for the <code>nav_toc_index</code> helper/partial.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>class</code> attribute value to use for this item’s
containing element.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:strip_file_prefixes]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:strip_file_prefixes]=-instance_method">
  
    - (<tt>Boolean</tt>) <strong>options[:strip_file_prefixes]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>If <code>true</code> leading numbers used for sorting files will be removed for
presentation purposes. This makes it possible to neatly organize your
source files in their presentation order on your filesystem but output
nice filenames without ugly prefix numbers.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p><code>true</code> or <code>false</code> to enable or disable this feature.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
  </div>



