




  <div class="method_details_list">
    
    
      
        <div class="method_details first">
  <h3 class="signature first" id="image_tag-instance_method">
  
    - (<tt>String</tt>) <strong>image_tag</strong>(path, params = {}) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>With the proper options enabled this helper extends
the built-in functionality of <strong>Middleman</strong>’s helpers
in a couple of ways. With <code>:retina_srcset</code> enabled,
automatic <code>srcset</code> attributes will be applied to
<code>&lt;img&gt;</code> tags if an @2x version of the specified image
is found. With <code>:img_auto_extensions</code> it’s possible to
specify image names without the file name extension.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>path</span>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Specify path to the image file.</p>
</div>
      
    </li>
  
    <li>
      
        <span class='name'>params</span>
      
      
        <span class='type'>(<tt>Hash</tt>)</span>
      
      
        <em class="default">(defaults to: <tt>{}</tt>)</em>
      
      
        &mdash;
        <div class='inline'><p>Optional parameters to pass to
the helper. <strong>Middleman</strong> (and other extensions)
provide other parameters in addition to these.</p>
</div>
      
    </li>
  
</ul>

  
    
    
    
    
    <p class="tag_title">Options Hash (<tt>params</tt>):</p>
    <ul class="option">
      
        <li>
          <span class="name">:img_auto_extensions</span>
          <span class="type">(<tt>Boolean</tt>)</span>
          <span class="default">
            
          </span>
          
            &mdash; <div class='inline'><p>Allows
control of the automatic image extensions option
on a per-use basis.</p>
</div>
          
        </li>
      
        <li>
          <span class="name">:retina_srcset</span>
          <span class="type">(<tt>Boolean</tt>)</span>
          <span class="default">
            
          </span>
          
            &mdash; <div class='inline'><p>Allows control
of the automatic @2x images feature on a per-use
basis.</p>
</div>
          
        </li>
      
    </ul>
  

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns an HTML <code>&lt;img&gt;</code> tag.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
    
  </div>


