




  <div class="method_details_list">
    
    
      
        <div class="method_details first">
  <h3 class="signature first" id="page_classes-instance_method">
  
    - (<tt>String</tt>) <strong>page_classes</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Extend the built-in page_classes to include the naked
group and page name. The features of this helper are
enabled only if <code>options[:extend_page_class]</code> is
<code>true</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the classes that correspond
to the site hierarchy.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
    
  </div>


