



  <div id="instance_attr_details" class="attr_details">
    
      
      <span id="options[:img_auto_extensions]=-instance_method"></span>
      <div class="method_details first">
  <h3 class="signature first" id="options[:img_auto_extensions]=-instance_method">
  
    - (<tt>Boolean</tt>) <strong>options[:img_auto_extensions]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This option determines whether or not to support specifying images without
using a file name extension. If set to <code>true</code> then the <code>image_tag</code> helper
will work for images even if you don’t specify an extension, but only if a
file exists on disk that has one of the extensions in 
<code>:img_auto_extensions_order</code>.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p><code>true</code> or <code>false</code> to enable or disable this feature.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:img_auto_extensions_order]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:img_auto_extensions_order]=-instance_method">
  
    - (<tt>Array&lt;String&gt;</tt>) <strong>options[:img_auto_extensions_order]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This option defines the eligible file name extensions and their precedence
when you specify an image without an extension using the <code>image_tag</code> helper.
Set this to an array of image file extensions in your desired order of
of precedence.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>Array&lt;String&gt;</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Set to an array of image extensions.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Array&lt;String&gt;</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
      
      <span id="options[:retina_srcset]=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="options[:retina_srcset]=-instance_method">
  
    - (<tt>Boolean</tt>) <strong>options[:retina_srcset]=</strong>(value) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This option determines whether or not the enhanced <code>image_tag</code> helper will
be used to include an @2x <code>srcset</code> attribute automatically. This automatic
behavior will only be applied if the image asset exists on disk and this
option is set to <code>true</code>.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>value</span>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p><code>true</code> or <code>false</code> to enable or disable this feature.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current value of this option.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
    
  </div>



