




  <div class="method_details_list">
    
    
      
        <div class="method_details first">
  <h3 class="signature first" id="css_image_sizes-instance_method">
  
    - (<tt>String</tt>) <strong>css_image_sizes</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This helper provides CSS for every image in your
project. Each image will have a declaration that sets
<code>max-width</code> and <code>max-height</code> to the actual size of the
image. Proper @2x image support is included. It’s most
useful to use this helper in a <code>some_file.css.erb</code>
file.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns a string with the CSS markup
for every image found in your project.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="md_images-instance_method">
  
    - (<tt>String</tt>) <strong>md_images</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This helper provides access to <code>middlemac-extras</code>’ 
index of images in Markdown reference format, enabling
you to use reference-style images in documents. Because
this helper includes literal Markdown, it’s only useful
in Markdown documents.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns a string with the Markdown
index of every image in your project.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="md_links-instance_method">
  
    - (<tt>String</tt>) <strong>md_links</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This helper provides access to <code>middlemac-extras</code>’ 
index of links in Markdown reference format, enabling
you to use reference-style links in documents. Because
this helper includes literal Markdown, it’s only useful
in Markdown documents.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns a string with the Markdown
index of every page in your project.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
    
  </div>


