




  <div class="method_details_list">
    
    
      
        <div class="method_details first">
  <h3 class="signature first" id="breadcrumbs-instance_method">
  
    - (<tt>String</tt>) <strong>breadcrumbs</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>This helper returns the name of the breadcrumbs
partial configured to be used in your project, i.e.,
the value of <code>options[:Breadcrumbs]</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The name of the configured breadcrumbs
partial.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="cfBundleIdentifier-instance_method">
  
    - (<tt>String</tt>) <strong>cfBundleIdentifier</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns the product <code>CFBundleIdentifier</code> for the
current target as configured in your <code>config.rb</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>cfBundleIdentifier</code>.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="cfBundleName-instance_method">
  
    - (<tt>String</tt>) <strong>cfBundleName</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns the product <code>CFBundleName</code> for the current
target as configured in your <code>config.rb</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>CFBundleName</code>.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="partials_dir-instance_method">
  
    - (<tt>String</tt>) <strong>partials_dir</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns the name of the configured partials directory
to use by default with the <code>partials</code> helper, i.e., the
value of <code>options[:partials_dir]</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The path of the configured default
partials directory.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="product_name-instance_method">
  
    - (<tt>String</tt>) <strong>product_name</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns the <code>ProductName</code> for the current target
as configured in your <code>config.rb</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>ProductName</code>.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="product_uri-instance_method">
  
    - (<tt>String</tt>) <strong>product_uri</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns the <code>ProductURI</code> for the current target
as configured in your <code>config.rb</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>ProductURI</code>.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="product_version-instance_method">
  
    - (<tt>String</tt>) <strong>product_version</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns the <code>ProductVersion</code> for the current target
as configured in your <code>config.rb</code>.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>The <code>ProductVersion</code>.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
    
  </div>


