# Rubymine noise
.idea/

# BBedit noise
*.bbprojectd

# Mac OS X noise
.DS_Store

# Ignore bundler lock files
Gemfile.lock

# Ignore pkg folder
/pkg

# Ignore build folders
build/*

# Yard cruft
/doc/
/.yardoc

# Aruba
/tmp/

# Native Extension Build
/lib/trie

# Fixture build folder when testing.
/fixtures/middlemac_app/New_Project_(pro).help
