<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>لصفحة</string>
		<string>لحرة</string>
		<string>فرق</string>
		<string>على</string>
		<string>و</string>
		<string>مساهمات</string>
		<string>بوابة</string>
		<string>بحث</string>
		<string>ملف</string>
		<string>عدم</string>
		<string>سياسة</string>
		<string>لمجتمع</string>
		<string>صندوق</string>
		<string>أدوات</string>
		<string>لأدوات</string>
		<string>مسؤولية</string>
		<string>أبجدي</string>
		<string>عن</string>
		<string>آخر</string>
		<string>ط</string>
		<string>ب</string>
		<string>للطباعة</string>
		<string>صورة</string>
		<string>لتصنيف</string>
		<string>روبوت</string>
		<string>لمستخدم</string>
		<string>لهذه</string>
		<string>تحت</string>
		<string>ما</string>
		<string>ذات</string>
		<string>لمساعدة</string>
		<string>أي</string>
		<string>بعد</string>
		<string>ل</string>
		<string>مع</string>
		<string>عام</string>
		<string>علاقة</string>
		<string>لنصوص</string>
		<string>يوجد</string>
		<string>توجد</string>
		<string>عدل</string>
		<string>اقرأ</string>
		<string>رخصة</string>
		<string>لتفاصيل</string>
		<string>دائمة</string>
		<string>منشورة</string>
		<string>لذي</string>
		<string>لأخرى</string>
		<string>لنطاق</string>
		<string>عبد</string>
		<string>لوصلات</string>
		<string>لم</string>
		<string>بهذه</string>
		<string>استشهد</string>
		<string>قد</string>
		<string>غير</string>
		<string>علي</string>
		<string>لعراق</string>
		<string>عدة</string>
		<string>إنجليزية</string>
		<string>مدينة</string>
		<string>أيضاً</string>
		<string>لجديدة</string>
		<string>لعالم</string>
		<string>خارجية</string>
		<string>لتعديلات</string>
		<string>نادي</string>
		<string>أحد</string>
		<string>للمزيد</string>
		<string>عند</string>
		<string>يونيو</string>
		<string>بالأسفل</string>
		<string>راجع</string>
		<string>بايت</string>
		<string>لطفيفة</string>
		<string>أتوم</string>
		<string>سبتمبر</string>
		<string>فقط</string>
		<string>ملائي</string>
		<string>حاليًا</string>
		<string>لصيغة</string>
		<string>لوقت</string>
		<string>هناك</string>
		<string>تحويل</string>
		<string>فساهم</string>
		<string>للنمو</string>
		<string>التحسين</string>
		<string>منها</string>
		<string>تعديلات</string>
		<string>حماية</string>
		<string>لدولة</string>
		<string>ل</string>
		<string>لمغرب</string>
		<string>لسياحة</string>
		<string>فيه</string>
		<string>لغربية</string>
		<string>لملك</string>
		<string>لنطاقات</string>
		<string>وضع</string>
		<string>طريق</string>
		<string>لجنوبية</string>
		<string>لصور</string>
		<string>بأن</string>
		<string>لسكان</string>
		<string>فلسطين</string>
		<string>فهرس</string>
		<string>لأبعاد</string>
		<string>اضغط</string>
		<string>موجود</string>
		<string>التي</string>
		<string>كبيرة</string>
		<string>لعمل</string>
		<string>أكبر</string>
		<string>لسكانية</string>
		<string>حرب</string>
		<string>حالية</string>
		<string>بحاجة</string>
		<string>إسرائيل</string>
		<string>لمنطقة</string>
		<string>مل</string>
		<string>بني</string>
		<string>مصادر</string>
		<string>لعزيز</string>
		<string>لكثير</string>
		<string>صورة:Map</string>
		<string>عمر</string>
		<string>لناس</string>
		<string>لكويت</string>
		<string>بسبب</string>
		<string>وكانت</string>
		<string>عملية</string>
		<string>انظر</string>
		<string>لضمائر</string>
		<string>مختارة</string>
		<string>عنه</string>
		<string>أهل</string>
		<string>خاصة</string>
		<string>لبلاد</string>
		<string>مطار</string>
		<string>حوالي</string>
		<string>استخدام</string>
		<string>مواضيع</string>
		<string>كنت</string>
		<string>أوضح</string>
		<string>ولم</string>
		<string>رتباطات</string>
		<string>عبر</string>
		<string>أخر</string>
		<string>ن</string>
		<string>بالنسبة</string>
		<string>نسبة</string>
		<string>غرب</string>
		<string>تحياتي</string>
		<string>لعالمية</string>
		<string>لبعض</string>
		<string>أفضل</string>
		<string>لأن</string>
		<string>لسودان</string>
		<string>كم</string>
		<string>شركة</string>
		<string>لأمر</string>
		<string>يهود</string>
		<string>لتعليم</string>
		<string>لقد</string>
		<string>منهم</string>
		<string>طبيعية</string>
		<string>أفريقيا</string>
		<string>لعامة</string>
		<string>سورية</string>
		<string>لشام</string>
		<string>ناطق</string>
		<string>معظم</string>
		<string>وبعد</string>
		<string>لتصوير</string>
		<string>فن</string>
		<string>لمصادر</string>
		<string>صلخد</string>
		<string>ردو</string>
		<string>عهد</string>
		<string>لدولي</string>
		<string>عليكم</string>
		<string>يعتبر</string>
		<string>بداية</string>
		<string>لكريم</string>
		<string>عبدالله</string>
		<string>لعلوم</string>
		<string>فلا</string>
		<string>كيف</string>
		<string>حالة</string>
		<string>وما</string>
		<string>بينما</string>
		<string>تغيير</string>
		<string>معينة</string>
		<string>لحذف</string>
		<string>باسم</string>
		<string>رجوع</string>
		<string>كتابة</string>
		<string>قمت</string>
		<string>قطر</string>
		<string>بنت</string>
	</array>
</plist>