<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>a</string>
		<string>na</string>
		<string>v</string>
		<string>se</string>
		<string>je</string>
		<string>z</string>
		<string>o</string>
		<string>pro</string>
		<string>do</string>
		<string>k</string>
		<string>ve</string>
		<string>to</string>
		<string>za</string>
		<string>nebo</string>
		<string>že</string>
		<string>i</string>
		<string>si</string>
		<string>které</string>
		<string>vytvoření</string>
		<string>údajů</string>
		<string>u</string>
		<string>jsou</string>
		<string>sem</string>
		<string>ale</string>
	</array>
</plist>