<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>alle</string>
		<string>allem</string>
		<string>alles</string>
		<string>andere</string>
		<string>anderem</string>
		<string>anderen</string>
		<string>anderer</string>
		<string>anderes</string>
		<string>auf</string>
		<string>bei</string>
		<string>beim</string>
		<string>bist</string>
		<string>dadurch</string>
		<string>dein</string>
		<string>deine</string>
		<string>deiner</string>
		<string>deines</string>
		<string>deins</string>
		<string>dem</string>
		<string>denen</string>
		<string>der</string>
		<string>deren</string>
		<string>des</string>
		<string>deshalb</string>
		<string>dessen</string>
		<string>diese</string>
		<string>diesem</string>
		<string>diesen</string>
		<string>dieser</string>
		<string>dieses</string>
		<string>ein</string>
		<string>eine</string>
		<string>einem</string>
		<string>einen</string>
		<string>einer</string>
		<string>eines</string>
		<string>euer</string>
		<string>euere</string>
		<string>eueren</string>
		<string>eueres</string>
		<string>fur</string>
		<string>haben</string>
		<string>habt</string>
		<string>hatte</string>
		<string>hatten</string>
		<string>hattest</string>
		<string>hattet</string>
		<string>hierzu</string>
		<string>hinter</string>
		<string>ich</string>
		<string>ihr</string>
		<string>ihre</string>
		<string>ihren</string>
		<string>ihrer</string>
		<string>ihres</string>
		<string>indem</string>
		<string>ist</string>
		<string>jede</string>
		<string>jedem</string>
		<string>jeden</string>
		<string>jeder</string>
		<string>jedes</string>
		<string>kann</string>
		<string>kannst</string>
		<string>konnen</string>
		<string>konnt</string>
		<string>konnte</string>
		<string>konnten</string>
		<string>konntest</string>
		<string>konntet</string>
		<string>mehr</string>
		<string>mein</string>
		<string>meine</string>
		<string>meiner</string>
		<string>meines</string>
		<string>meins</string>
		<string>nach</string>
		<string>neben</string>
		<string>nicht</string>
		<string>nichts</string>
		<string>seid</string>
		<string>sein</string>
		<string>seine</string>
		<string>seiner</string>
		<string>seines</string>
		<string>seins</string>
		<string>sie</string>
		<string>sind</string>
		<string>uber</string>
		<string>und</string>
		<string>uns</string>
		<string>unser</string>
		<string>unsere</string>
		<string>unter</string>
		<string>vor</string>
		<string>warst</string>
		<string>weil</string>
		<string>wenn</string>
		<string>werde</string>
		<string>werden</string>
		<string>werdet</string>
		<string>willst</string>
		<string>wir</string>
		<string>wird</string>
		<string>wirst</string>
		<string>wollen</string>
		<string>wollt</string>
		<string>wollte</string>
		<string>wollten</string>
		<string>wolltest</string>
		<string>wolltet</string>
		<string>zum</string>
		<string>zur</string>
</array>
</plist>
