<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>abans</string>
		<string>aca</string>
		<string>acerca</string>
		<string>ahora</string>
		<string>aixo</string>
		<string>algo</string>
		<string>algu</string>
		<string>alguien</string>
		<string>algun</string>
		<string>alguna</string>
		<string>algunas</string>
		<string>algunes</string>
		<string>alguno</string>
		<string>algunos</string>
		<string>alguns</string>
		<string>alla</string>
		<string>alli</string>
		<string>allo</string>
		<string>altra</string>
		<string>altre</string>
		<string>altres</string>
		<string>amb</string>
		<string>amunt</string>
		<string>antes</string>
		<string>aquel</string>
		<string>aquell</string>
		<string>aquella</string>
		<string>aquellas</string>
		<string>aquelles</string>
		<string>aquellos</string>
		<string>aquells</string>
		<string>aquest</string>
		<string>aquesta</string>
		<string>aquestes</string>
		<string>aquests</string>
		<string>aqui</string>
		<string>asimismo</string>
		<string>aun</string>
		<string>aunque</string>
		<string>avall</string>
		<string>cada</string>
		<string>casi</string>
		<string>com</string>
		<string>como</string>
		<string>con</string>
		<string>cosas</string>
		<string>coses</string>
		<string>cual</string>
		<string>cuales</string>
		<string>cualquier</string>
		<string>cuando</string>
		<string>damunt</string>
		<string>darrera</string>
		<string>davant</string>
		<string>debe</string>
		<string>deben</string>
		<string>deber</string>
		<string>debia</string>
		<string>debian</string>
		<string>decia</string>
		<string>decian</string>
		<string>decir</string>
		<string>deia</string>
		<string>deien</string>
		<string>del</string>
		<string>demasiado</string>
		<string>des</string>
		<string>desde</string>
		<string>despues</string>
		<string>dicen</string>
		<string>diciendo</string>
		<string>dins</string>
		<string>dir</string>
		<string>diu</string>
		<string>diuen</string>
		<string>doncs</string>
		<string>ell</string>
		<string>ellas</string>
		<string>elles</string>
		<string>ells</string>
		<string>els</string>
		<string>encara</string>
		<string>entonces</string>
		<string>ese</string>
		<string>esos</string>
		<string>esser</string>
		<string>esta</string>
		<string>estan</string>
		<string>estando</string>
		<string>estant</string>
		<string>estar</string>
		<string>estaria</string>
		<string>estarian</string>
		<string>estarien</string>
		<string>estas</string>
		<string>estos</string>
		<string>farien</string>
		<string>feia</string>
		<string>feien</string>
		<string>fent</string>
		<string>fue</string>
		<string>fueron</string>
		<string>gaire</string>
		<string>gairebe</string>
		<string>hace</string>
		<string>hacia</string>
		<string>hacian</string>
		<string>haciendo</string>
		<string>haran</string>
		<string>hauria</string>
		<string>haurien</string>
		<string>hemos</string>
		<string>hola</string>
		<string>junto</string>
		<string>lejos</string>
		<string>les</string>
		<string>lloc</string>
		<string>los</string>
		<string>menos</string>
		<string>menys</string>
		<string>meva</string>
		<string>mias</string>
		<string>mio</string>
		<string>misma</string>
		<string>mismas</string>
		<string>mismo</string>
		<string>mismos</string>
		<string>molt</string>
		<string>molta</string>
		<string>moltes</string>
		<string>mon</string>
		<string>mucha</string>
		<string>mucho</string>
		<string>muy</string>
		<string>nadie</string>
		<string>ningu</string>
		<string>nomes</string>
		<string>nosaltres</string>
		<string>nosotros</string>
		<string>nostra</string>
		<string>nostre</string>
		<string>nuestra</string>
		<string>nuestras</string>
		<string>nuestro</string>
		<string>nuestros</string>
		<string>nunca</string>
		<string>otra</string>
		<string>pasa</string>
		<string>pasan</string>
		<string>pasara</string>
		<string>pasaria</string>
		<string>passara</string>
		<string>passaria</string>
		<string>passen</string>
		<string>perque</string>
		<string>poc</string>
		<string>pocas</string>
		<string>pocos</string>
		<string>podem</string>
		<string>poden</string>
		<string>podeu</string>
		<string>podria</string>
		<string>podrian</string>
		<string>podrien</string>
		<string>poques</string>
		<string>porque</string>
		<string>potser</string>
		<string>puc</string>
		<string>pudieron</string>
		<string>pudo</string>
		<string>puede</string>
		<string>pueden</string>
		<string>puesto</string>
		<string>qualsevol</string>
		<string>quan</string>
		<string>que</string>
		<string>queria</string>
		<string>querian</string>
		<string>qui</string>
		<string>quien</string>
		<string>quienes</string>
		<string>quiere</string>
		<string>quieren</string>
		<string>quin</string>
		<string>quina</string>
		<string>quines</string>
		<string>quins</string>
		<string>quizas</string>
		<string>segueent</string>
		<string>segun</string>
		<string>sempre</string>
		<string>seran</string>
		<string>seria</string>
		<string>serian</string>
		<string>seu</string>
		<string>seva</string>
		<string>sido</string>
		<string>siempre</string>
		<string>siendo</string>
		<string>siguiente</string>
		<string>sino</string>
		<string>sobretodo</string>
		<string>solamente</string>
		<string>sovint</string>
		<string>suya</string>
		<string>suyas</string>
		<string>suyo</string>
		<string>suyos</string>
		<string>tambe</string>
		<string>tambien</string>
		<string>tanmateix</string>
		<string>tanta</string>
		<string>tanto</string>
		<string>tendran</string>
		<string>tendria</string>
		<string>tendrian</string>
		<string>tenen</string>
		<string>teu</string>
		<string>teva</string>
		<string>tiene</string>
		<string>tienen</string>
		<string>tindran</string>
		<string>tindria</string>
		<string>tindrien</string>
		<string>toda</string>
		<string>todavia</string>
		<string>todo</string>
		<string>tota</string>
		<string>totes</string>
		<string>tras</string>
		<string>traves</string>
		<string>tuvieron</string>
		<string>tuvo</string>
		<string>tuya</string>
		<string>tuyas</string>
		<string>tuyo</string>
		<string>tuyos</string>
		<string>unas</string>
		<string>unes</string>
		<string>unos</string>
		<string>uns</string>
		<string>usaba</string>
		<string>usaban</string>
		<string>usada</string>
		<string>usades</string>
		<string>usado</string>
		<string>usan</string>
		<string>usando</string>
		<string>usant</string>
		<string>usar</string>
		<string>usat</string>
		<string>usava</string>
		<string>usaven</string>
		<string>usen</string>
		<string>vaig</string>
		<string>varem</string>
		<string>varen</string>
		<string>vareu</string>
		<string>vegada</string>
		<string>vegades</string>
		<string>vez</string>
		<string>volem</string>
		<string>volen</string>
		<string>voleu</string>
		<string>vora</string>
		<string>vos</string>
		<string>vosaltres</string>
		<string>vosotros</string>
		<string>vostra</string>
		<string>vostre</string>
		<string>voy</string>
		<string>vuestra</string>
		<string>vuestras</string>
		<string>vuestro</string>
		<string>vuestros</string>
		<string>vull</string>
</array>
</plist>
