<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>on</string>
		<string>ei</string>
		<string>ke</string>
		<string>tai</string>
		<string>ole</string>
		<string>ma</string>
		<string>ovat</string>
		<string>klo</string>
		<string>niin</string>
		<string>mutta</string>
		<string>viestintäyksikkö</string>
		<string>jo</string>
		<string>nyt</string>
		<string>of</string>
		<string>ollut</string>
		<string>sitä</string>
		<string>siis</string>
		<string>mukaan</string>
		<string>eivät</string>
		<string>a</string>
		<string>kanssa</string>
		<string>vaan</string>
		<string>and</string>
		<string>vaikka</string>
		<string>lasten</string>
		<string>tulee</string>
		<string>hyvin</string>
		<string>ry</string>
		<string>antti</string>
		<string>koko</string>
		<string>hänen</string>
		<string>in</string>
		<string>edes</string>
		<string>ne</string>
		<string>miten</string>
		<string>näin</string>
		<string>lisää</string>
		<string>vastaan</string>
		<string>tehdä</string>
		<string>uusi</string>
		<string>för</string>
		<string>och</string>
		<string>tähän</string>
		<string>asia</string>
		<string>koska</string>
		<string>ihan</string>
		<string>viestiä</string>
		<string>mies</string>
		<string>heidän</string>
		<string>by</string>
		<string>jopa</string>
		<string>enää</string>
		<string>yli</string>
		<string>he</string>
		<string>lapset</string>
		<string>minä</string>
		<string>kaupunki</string>
		<string>ilmoitus</string>
		<string>oikeus</string>
		<string>tuli</string>
		<string>av</string>
		<string>p</string>
		<string>kohtaan</string>
		<string>yksi</string>
		<string>la</string>
		<string>oma</string>
		<string>siinä</string>
		<string>varsinainen</string>
		<string>voisi</string>
		<string>niiden</string>
		<string>todella</string>
		<string>tullut</string>
		<string>liian</string>
		<string>video</string>
		<string>alkuun</string>
		<string>ry:n</string>
		<string>is</string>
		<string>muiden</string>
		<string>aikana</string>
		<string>asioita</string>
		<string>muita</string>
		<string>seksuaalisen</string>
		<string>oman</string>
		<string>näitä</string>
		<string>yhteydessä</string>
		<string>esittää</string>
		<string>keskustelu</string>
		<string>mieltä</string>
		<string>joku</string>
		<string>kokonaan</string>
		<string>jotain</string>
		<string>jota</string>
		<string>äidin</string>
		<string>k</string>
		<string>vaatii</string>
		<string>jolla</string>
		<string>yhä</string>
		<string>lainauksella</string>
		<string>kovin</string>
		<string>minulle</string>
		<string>tietoa</string>
		<string>kaupungin</string>
		<string>nimenomaan</string>
		<string>joita</string>
		<string>jälleen</string>
		<string>lain</string>
		<string>äiti</string>
		<string>väkivallan</string>
		<string>på</string>
		<string>keskustelut</string>
		<string>alla</string>
		<string>ilmeisesti</string>
		<string>talous</string>
		<string>silloin</string>
		<string>ihmisiä</string>
		<string>toiminnan</string>
		<string>tehnyt</string>
		<string>tutkimus</string>
		<string>turvakotien</string>
		<string>miehen</string>
		<string>haluaa</string>
		<string>ajan</string>
		<string>päivitetty</string>
		<string>tule</string>
		<string>yleensä</string>
		<string>kertaa</string>
		<string>lisäksi</string>
		<string>siellä</string>
		<string>till</string>
		<string>vasta</string>
		<string>joilla</string>
		<string>ottaa</string>
		<string>aiheesta</string>
		<string>hyväksy</string>
		<string>missä</string>
		<string>puolestaan</string>
		<string>kannattaa</string>
		<string>läpi</string>
		<string>kuuluu</string>
		<string>täällä</string>
		<string>omistuksessa</string>
		<string>yhteyttä</string>
		<string>miestä</string>
		<string>maaliskuun</string>
		<string>keskustelussa</string>
		<string>itseään</string>
		<string>hyväksikäytöstä</string>
		<string>käy</string>
		<string>linkki</string>
		<string>tapahtuu</string>
		<string>nainen</string>
		<string>sekuntia</string>
		<string>työtä</string>
		<string>indeksejä</string>
		<string>ska</string>
		<string>vastaa</string>
		<string>toinen</string>
		<string>lapsiin</string>
		<string>hänet</string>
		<string>kirjoitukset</string>
		<string>hinnasto</string>
		<string>tarvitse</string>
		<string>kävi</string>
		<string>jmit</string>
		<string>juttu</string>
		<string>loppuun</string>
		<string>videokilpailu</string>
		<string>opas</string>
		<string>missään</string>
		<string>varten</string>
		<string>vastausta</string>
		<string>nimi</string>
		<string>kirjoittanut</string>
		<string>välillä</string>
		<string>väkivalta</string>
		<string>tuohon</string>
		<string>maailman</string>
		<string>mistä</string>
		<string>kantaa</string>
		<string>lapsille</string>
		<string>phpbb</string>
		<string>tuntuu</string>
		<string>tiedä</string>
		<string>siten</string>
		<string>tapaus</string>
		<string>käsitellään</string>
		<string>apua</string>
		<string>henkilön</string>
		<string>asetti</string>
		<string>om</string>
		<string>puolsi</string>
		<string>ladatuimmat</string>
		<string>muu</string>
		<string>asioiden</string>
		<string>enempää</string>
		<string>krs</string>
		<string>paremmin</string>
		<string>valtakaudet</string>
		<string>S</string>
		<string>valinta</string>
	</array>
</plist>