<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>ailleurs</string>
		<string>ainsi</string>
		<string>alors</string>
		<string>aucun</string>
		<string>aucune</string>
		<string>auquel</string>
		<string>aurai</string>
		<string>auras</string>
		<string>aurez</string>
		<string>aurons</string>
		<string>auront</string>
		<string>aussi</string>
		<string>autre</string>
		<string>autres</string>
		<string>aux</string>
		<string>auxquelles</string>
		<string>auxquels</string>
		<string>avaient</string>
		<string>avais</string>
		<string>avait</string>
		<string>avec</string>
		<string>avez</string>
		<string>aviez</string>
		<string>avoir</string>
		<string>avons</string>
		<string>celui</string>
		<string>cependant</string>
		<string>certaine</string>
		<string>certaines</string>
		<string>certains</string>
		<string>ces</string>
		<string>cet</string>
		<string>cette</string>
		<string>ceux</string>
		<string>chacun</string>
		<string>chacune</string>
		<string>chaque</string>
		<string>comme</string>
		<string>constamment</string>
		<string>davantage</string>
		<string>depuis</string>
		<string>des</string>
		<string>desquelles</string>
		<string>desquels</string>
		<string>dessous</string>
		<string>dessus</string>
		<string>donc</string>
		<string>dont</string>
		<string>duquel</string>
		<string>egalement</string>
		<string>elles</string>
		<string>encore</string>
		<string>enfin</string>
		<string>ensuite</string>
		<string>etaient</string>
		<string>etais</string>
		<string>etait</string>
		<string>etes</string>
		<string>etiez</string>
		<string>etions</string>
		<string>etre</string>
		<string>eux</string>
		<string>guere</string>
		<string>ici</string>
		<string>ils</string>
		<string>jamais</string>
		<string>jusqu</string>
		<string>laquelle</string>
		<string>legerement</string>
		<string>lequel</string>
		<string>les</string>
		<string>lesquelles</string>
		<string>lesquels</string>
		<string>leur</string>
		<string>leurs</string>
		<string>lors</string>
		<string>lui</string>
		<string>maintenant</string>
		<string>mais</string>
		<string>malgre</string>
		<string>moi</string>
		<string>moins</string>
		<string>notamment</string>
		<string>parce</string>
		<string>plupart</string>
		<string>pourtant</string>
		<string>presentement</string>
		<string>presque</string>
		<string>puis</string>
		<string>puisque</string>
		<string>quand</string>
		<string>quant</string>
		<string>que</string>
		<string>quel</string>
		<string>quelqu</string>
		<string>quelque</string>
		<string>quelques</string>
		<string>qui</string>
		<string>quoi</string>
		<string>quoique</string>
		<string>rien</string>
		<string>selon</string>
		<string>serai</string>
		<string>seras</string>
		<string>serez</string>
		<string>serons</string>
		<string>seront</string>
		<string>soient</string>
		<string>soit</string>
		<string>sommes</string>
		<string>sont</string>
		<string>sous</string>
		<string>suis</string>
		<string>telle</string>
		<string>telles</string>
		<string>tels</string>
		<string>toi</string>
		<string>toujours</string>
		<string>tout</string>
		<string>toutes</string>
		<string>tres</string>
		<string>trop</string>
		<string>une</string>
		<string>vos</string>
		<string>votre</string>
		<string>vous</string>
</array>
</plist>
