<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>az</string>
		<string>szám</string>
		<string>és</string>
		<string>nem</string>
		<string>is</string>
		<string>hogy</string>
		<string>egy</string>
		<string>meg</string>
		<string>de</string>
		<string>volt</string>
		<string>csak</string>
		<string>vagy</string>
		<string>van</string>
		<string>szerint</string>
		<string>még</string>
		<string>már</string>
		<string>ki</string>
		<string>el</string>
		<string>e</string>
		<string>sem</string>
		<string>azt</string>
		<string>kell</string>
		<string>ha</string>
		<string>mint</string>
		<string>új</string>
		<string>ez</string>
		<string>s</string>
		<string>be</string>
		<string>több</string>
		<string>lehet</string>
		<string>lesz</string>
		<string>minden</string>
		<string>mert</string>
		<string>akkor</string>
		<string>oldal</string>
		<string>fel</string>
		<string>után</string>
		<string>nélkül</string>
	</array>
</plist>