<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>affinche</string>
		<string>alcun</string>
		<string>alcuna</string>
		<string>alcune</string>
		<string>alcuni</string>
		<string>alcuno</string>
		<string>allora</string>
		<string>altra</string>
		<string>altre</string>
		<string>altri</string>
		<string>altro</string>
		<string>anziche</string>
		<string>certa</string>
		<string>certe</string>
		<string>certi</string>
		<string>certo</string>
		<string>che</string>
		<string>chi</string>
		<string>chiunque</string>
		<string>comunque</string>
		<string>con</string>
		<string>cosa</string>
		<string>cose</string>
		<string>cui</string>
		<string>dagli</string>
		<string>dai</string>
		<string>dall</string>
		<string>dalla</string>
		<string>dalle</string>
		<string>darsi</string>
		<string>degli</string>
		<string>del</string>
		<string>dell</string>
		<string>della</string>
		<string>delle</string>
		<string>dello</string>
		<string>dunque</string>
		<string>egli</string>
		<string>eppure</string>
		<string>esse</string>
		<string>essi</string>
		<string>forse</string>
		<string>gia</string>
		<string>infatti</string>
		<string>inoltre</string>
		<string>invece</string>
		<string>lui</string>
		<string>malgrado</string>
		<string>mediante</string>
		<string>meno</string>
		<string>mentre</string>
		<string>mie</string>
		<string>miei</string>
		<string>mio</string>
		<string>modo</string>
		<string>molta</string>
		<string>molte</string>
		<string>molti</string>
		<string>molto</string>
		<string>negli</string>
		<string>nel</string>
		<string>nella</string>
		<string>nelle</string>
		<string>nessun</string>
		<string>nessuna</string>
		<string>nessuno</string>
		<string>niente</string>
		<string>noi</string>
		<string>nostra</string>
		<string>nostre</string>
		<string>nostri</string>
		<string>nostro</string>
		<string>nulla</string>
		<string>occorre</string>
		<string>ogni</string>
		<string>ognuno</string>
		<string>oltre</string>
		<string>oltretutto</string>
		<string>oppure</string>
		<string>ovunque</string>
		<string>ovvio</string>
		<string>percio</string>
		<string>pertanto</string>
		<string>piu</string>
		<string>piuttosto</string>
		<string>poca</string>
		<string>poco</string>
		<string>poiche</string>
		<string>propri</string>
		<string>proprie</string>
		<string>proprio</string>
		<string>puo</string>
		<string>qua</string>
		<string>qual</string>
		<string>qualche</string>
		<string>qualcuna</string>
		<string>qualcuno</string>
		<string>quale</string>
		<string>quali</string>
		<string>qualunque</string>
		<string>quando</string>
		<string>quant</string>
		<string>quante</string>
		<string>quanti</string>
		<string>quanto</string>
		<string>quantunque</string>
		<string>quegli</string>
		<string>quei</string>
		<string>quest</string>
		<string>questa</string>
		<string>queste</string>
		<string>questi</string>
		<string>questo</string>
		<string>qui</string>
		<string>quindi</string>
		<string>sebbene</string>
		<string>sembra</string>
		<string>sempre</string>
		<string>senza</string>
		<string>soltanto</string>
		<string>stessa</string>
		<string>stesse</string>
		<string>stessi</string>
		<string>stesso</string>
		<string>sugli</string>
		<string>sui</string>
		<string>sul</string>
		<string>sull</string>
		<string>sulla</string>
		<string>sulle</string>
		<string>suo</string>
		<string>suoi</string>
		<string>taluni</string>
		<string>taluno</string>
		<string>tanta</string>
		<string>tanti</string>
		<string>tanto</string>
		<string>tra</string>
		<string>tuo</string>
		<string>tuoi</string>
		<string>tutt</string>
		<string>tutta</string>
		<string>tutte</string>
		<string>tutto</string>
		<string>una</string>
		<string>uno</string>
		<string>voi</string>
</array>
</plist>
