<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>ㅅㅜ</string>
		<string>ㅇㅣㅆㄴㅡㄴ</string>
		<string>ㄴㅠㅅㅡ</string>
		<string>ㅁㅜㄴㅅㅓ</string>
		<string>ㄷㅡㅇ</string>
		<string>ㅎㅏㄴ</string>
		<string>ㅇㅜㅣㅋㅣㅂㅐㄱㄱㅗㅏ</string>
		<string>ㄱㅏㅈㅏㅇ</string>
		<string>ㅂㅗㄴ</string>
		<string>ㅁㅗㄱㄹㅗㄱ</string>
		<string>ㄱㅜㄱㅈㅔ</string>
		<string>ㅅㅡㅍㅗㅊㅡ</string>
		<string>ㅇㅣㄴㅁㅜㄹ</string>
		<string>ㄷㅓ</string>
		<string>ㄱㅏㄹㅣㅋㅣㄴㅡㄴ</string>
		<string>ㄱㅕㅇㅈㅔ</string>
		<string>ㅅㅏㅎㅗㅣ</string>
		<string>ㅇㅕㄱㅅㅏ</string>
		<string>ㅌㅗㄹㅗㄴ</string>
		<string>ㅈㅓㅇㅊㅣ</string>
		<string>ㅁㅜㄴㅎㅗㅏ</string>
		<string>ㅁㅏㄴㅎㅇㅣ</string>
		<string>ㅊㅏㅈㄱㅣ</string>
		<string>ㅎㅗㅣㅅㅏㅅㅗㄱㅐ</string>
		<string>ㅁㅗㄷㅡㄴ</string>
		<string>ㅊㅗㅣㄱㅡㄴ</string>
		<string>ㄷㅐㅎㅏㄴ</string>
		<string>ㅇㅗㅍㅣㄴㅣㅇㅓㄴ</string>
		<string>ㅇㅣㅆㅅㅡㅂㄴㅣㄷㅏ</string>
		<string>ㅂㅣㄱㅛ</string>
		<string>ㄷㅏㄹㅡㄴ</string>
		<string>ㅈㅔㅁㅗㄱ</string>
		<string>ㄷㅜㄹㄹㅓㅂㅗㄱㅣ</string>
		<string>ㅇㅜㅣㅎㅐ</string>
		<string>ㅇㅡㅣ</string>
		<string>ㄱㅓㅅ</string>
		<string>ㄱㅓㅅㅇㅣㄷㅏ</string>
		<string>ㄴㅡㄴ</string>
		<string>ㄸㅏㄹㅏ</string>
		<string>ㄷㄷㅏㄹㅏ</string>
		<string>ㅇㅜㄹㅣ</string>
		<string>ㅎㅏㄴㅡㄴ</string>
		<string>ㅂㅗㄱㅣ</string>
		<string>ㅈㅓㄴ</string>
		<string>ㄷㅡㅇㅇㅡㄹ</string>
		<string>ㅎㅏㅁㄲㅔ</string>
		<string>ㄷㄷㅐ</string>
		<string>ㄸㅐ</string>
		<string>ㅂㅏㄲㅜㅣㅁ</string>
		<string>ㄱㅓㅅㅇㅣ</string>
		<string>ㅎㅏㄹ</string>
		<string>ㅅㅏㅇㅛㅇㅈㅏ</string>
		<string>ㄱㅓㅅㅇㅡㄹㅗ</string>
		<string>ㅁㅜㄴㅎㅗㅏㅇㅣㄹㅂㅗ</string>
		<string>ㄱㅜㄷㅗㄱㅅㅣㄴㅊㅓㅇ</string>
		<string>ㄹㅡㄹ</string>
		<string>ㄱㅓㅅㅇㅡㄴ</string>
		<string>ㅁㅣㅊ</string>
		<string>ㅌㅡㄱㅅㅜ</string>
		<string>ㅈㅗㅎㅇㅡㄴ</string>
		<string>ㅇㅔ</string>
		<string>ㅈㅏㄹ</string>
		<string>ㅇㅓㅂㅅㄴㅡㄴ</string>
		<string>ㅍㅕㄴㅈㅣㅂ</string>
		<string>ㅈㅣㄴㅏㄴ</string>
		<string>ㅌㅗㅇㅎㅏㅂㄱㅓㅁㅅㅐㄱ</string>
		<string>ㅎㅗㅁ</string>
		<string>ㅂㅜㄷㅗㅇㅅㅏㄴ</string>
		<string>ㄷㅗㅇㅜㅁㅁㅏㄹ</string>
		<string>ㅇㅕㅇㅎㅗㅏ</string>
		<string>ㄷㄷㅏㅇ</string>
		<string>ㄸㅏㅇ</string>
		<string>ㅊㅏㅇㅣ</string>
		<string>ㅍㅗㅌㅗ</string>
		<string>ㅇㅛㅈㅡㅁ</string>
		<string>ㅊㅓㅅ</string>
		<string>ㅇㅡㄹ</string>
		<string>ㄱㅏㅌㅇㅡㄴ</string>
		<string>ㅅㅓㅁㅕㅇㅅㅜ</string>
		<string>ㅂㅣㅁㅣㄹㅂㅓㄴㅎㅗ</string>
		<string>ㄷㅜ</string>
		<string>ㅈㅗㅎㅗㅣㅅㅜ</string>
		<string>ㅍㅏㅇㅣㄹ</string>
		<string>ㅈㅜㅇ</string>
		<string>ㄱㅡㄹ</string>
		<string>ㄷㄷㅐㅁㅜㄴㅇㅔ</string>
		<string>ㄸㅐㅁㅜㄴㅇㅔ</string>
		<string>ㄱㅣㅇㅕ</string>
		<string>ㅁㅏㄴㄷㅡㄹㄱㅣ</string>
		<string>ㅁㅜㄴㅅㅓㄹㅡㄹ</string>
		<string>ㄱㅡㄹㅆㅡㄴㅇㅣ</string>
		<string>ㄱㅡㄹㅓㄴㅏ</string>
		<string>ㅁㅗㄷㅜ</string>
		<string>ㅅㅓㅇㅜㄹ</string>
		<string>ㄱㅗㅇㅈㅣㅅㅏㅎㅏㅇ</string>
		<string>ㄱㅏ</string>
		<string>ㅋㅡㄴ</string>
		<string>ㅌㅗㅇㅎㅐ</string>
		<string>ㄱㅐㅇㅣㄴ</string>
		<string>ㅇㅜㄴㅅㅔ</string>
	</array>
</plist>