<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>de</string>
		<string>in</string>
		<string>is</string>
		<string>dat</string>
		<string>of</string>
		<string>max</string>
		<string>om</string>
		<string>C</string>
		<string>over</string>
		<string>meer</string>
		<string>maar</string>
		<string>ook</string>
		<string>nog</string>
		<string>worden</string>
		<string>weer</string>
		<string>dit</string>
		<string>deze</string>
		<string>krant</string>
		<string>wordt</string>
		<string>zich</string>
		<string>reacties</string>
		<string>ons</string>
		<string>hij</string>
		<string>hebben</string>
		<string>tegen</string>
		<string>na</string>
		<string>wil</string>
		<string>U</string>
		<string>andere</string>
		<string>temperatuur</string>
		<string>moeten</string>
		<string>S</string>
		<string>eerste</string>
		<string>land</string>
		<string>vanuit</string>
		<string>wo</string>
		<string>contact</string>
		<string>zelf</string>
		<string>grote</string>
		<string>rechten</string>
		<string>vragen</string>
		<string>krijgt</string>
		<string>privacy</string>
		<string>mee</string>
		<string>zal</string>
		<string>af</string>
		<string>oktober</string>
		<string>lucht</string>
		<string>deVerdieping</string>
		<string>mijn</string>
		<string>bekijk</string>
		<string>dagen</string>
		<string>voorbehouden</string>
		<string>online</string>
		<string>contacteer</string>
		<string>tussen</string>
		<string>vindt</string>
		<string>wijde</string>
		<string>euro</string>
		<string>za</string>
		<string>terug</string>
		<string>daagse</string>
		<string>laatste</string>
		<string>ma</string>
		<string>verantwoordelijkheid</string>
		<string>enkel</string>
		<string>beleggen</string>
		<string>D</string>
		<string>indexen</string>
		<string>uitgezonderd</string>
		<string>slotkoersen</string>
		<string>min</string>
		<string>mag</string>
		<string>leven</string>
		<string>procent</string>
		<string>onderwijs</string>
		<string>website</string>
		<string>postcode</string>
		<string>economie</string>
		<string>on</string>
		<string>pagina's</string>
		<string>neerslag</string>
		<string>ervan</string>
		<string>mm</string>
		<string>klimatogrammen</string>
		<string>gesch</string>
		<string>windsnelheid</string>
		<string>zoals</string>
		<string>links</string>
		<string>abonnees</string>
		<string>mij</string>
		<string>winst</string>
		<string>hem</string>
		<string>papier</string>
		<string>lijkt</string>
		<string>bekeken</string>
		<string>laten</string>
		<string>windrichting</string>
		<string>bewaar</string>
		<string>zondag</string>
		<string>paswoord</string>
		<string>versie</string>
		<string>heel</string>
		<string>drie</string>
		<string>krijgen</string>
		<string>weg</string>
		<string>T</string>
		<string>man</string>
		<string>nodig</string>
		<string>me</string>
		<string>jaren</string>
		<string>waren</string>
		<string>klantenservice</string>
		<string>beter</string>
		<string>okt</string>
		<string>beste</string>
		<string>downloaden</string>
		<string>opinie</string>
		<string>donderdag</string>
		<string>staan</string>
		<string>hoofdredactie</string>
		<string>bestand</string>
		<string>opnieuw</string>
		<string>recht</string>
		<string>email</string>
		<string>manieren</string>
		<string>foto</string>
		<string>vraag</string>
		<string>geeft</string>
		<string>overleg</string>
		<string>rond</string>
		<string>alles</string>
		<string>groen</string>
		<string>doet</string>
		<string>tweede</string>
		<string>werden</string>
		<string>men</string>
		<string>aandeel</string>
		<string>doden</string>
		<string>zeggen</string>
		<string>weinig</string>
		<string>even</string>
		<string>acties</string>
		<string>uitgaven</string>
		<string>bedrijf</string>
		<string>vrijdag</string>
		<string>weet</string>
		<string>vrouwen</string>
		<string>binnenland</string>
		<string>lijst</string>
		<string>filosofie</string>
		<string>houden</string>
		<string>democratie</string>
		<string>lang</string>
		<string>antwoord</string>
		<string>opvoeding</string>
		<string>gewoon</string>
		<string>inschrijven</string>
		<string>columnisten</string>
		<string>achter</string>
		<string>hulpmiddelen</string>
		<string>and</string>
		<string>nrc.next</string>
		<string>einde</string>
		<string>vorm</string>
		<string>minister</string>
		<string>nieuw</string>
		<string>stemmen</string>
		<string>deel</string>
		<string>schuld</string>
		<string>politieke</string>
		<string>echt</string>
		<string>kon</string>
		<string>vijf</string>
		<string>zouden</string>
		<string>ligt</string>
		<string>betalen</string>
		<string>gevaar</string>
		<string>politiek</string>
		<string>snel</string>
		<string>hele</string>
		<string>extra</string>
		<string>commentaar</string>
		<string>F</string>
		<string>zodat</string>
		<string>verschillende</string>
		<string>groot</string>
		<string>lidmaatschap</string>
		<string>maak</string>
		<string>valt</string>
		<string>debat</string>
		<string>video</string>
	</array>
</plist>