<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>på</string>
		<string>det</string>
		<string>å</string>
		<string>av</string>
		<string>har</string>
		<string>om</string>
		<string>de</string>
		<string>saken</string>
		<string>hele</string>
		<string>blir</string>
		<string>seg</string>
		<string>var</string>
		<string>ditt</string>
		<string>bildene</string>
		<string>mars</string>
		<string>får</string>
		<string>bli</string>
		<string>meg</string>
		<string>skal</string>
		<string>men</string>
		<string>ut</string>
		<string>etter</string>
		<string>over</string>
		<string>legger</string>
		<string>man</string>
		<string>innlegget</string>
		<string>sier</string>
		<string>ha</string>
		<string>tallene</string>
		<string>nick</string>
		<string>undertegnes</string>
		<string>hadde</string>
		<string>da</string>
		<string>nye</string>
		<string>bare</string>
		<string>noe</string>
		<string>når</string>
		<string>går</string>
		<string>siste</string>
		<string>vært</string>
		<string>sa</string>
		<string>vind</string>
		<string>mye</string>
		<string>jo</string>
		<string>under</string>
		<string>ned</string>
		<string>hva</string>
		<string>igjen</string>
		<string>nok</string>
		<string>gå</string>
		<string>ikkje</string>
		<string>publiseres</string>
		<string>ein</string>
		<string>gjør</string>
		<string>fikk</string>
		<string>vel</string>
		<string>dem</string>
		<string>god</string>
		<string>sine</string>
		<string>ta</string>
		<string>beste</string>
		<string>annen</string>
		<string>tatt</string>
		<string>kommune</string>
		<string>nett</string>
		<string>del</string>
		<string>ønsker</string>
		<string>bort</string>
		<string>fram</string>
		<string>tar</string>
		<string>gi</string>
		<string>måte</string>
		<string>by</string>
		<string>si</string>
		<string>informasjon</string>
		<string>ei</string>
		<string>redaksjonen</string>
		<string>dagen</string>
		<string>annonse</string>
		<string>innhold</string>
		<string>dei</string>
		<string>ville</string>
		<string>avis</string>
		<string>kommentar</string>
		<string>bedre</string>
		<string>barn</string>
		<string>like</string>
		<string>lørdag</string>
		<string>mandag</string>
		<string>penger</string>
		<string>millioner</string>
		<string>tok</string>
		<string>viser</string>
		<string>musikk</string>
		<string>dagens</string>
		<string>dere</string>
		<string>egne</string>
		<string>bruker</string>
		<string>skriv</string>
		<string>konsert</string>
		<string>skolen</string>
		<string>nord</string>
		<string>årets</string>
		<string>hver</string>
		<string>sentrum</string>
		<string>eit</string>
		<string>bak</string>
		<string>artikler</string>
		<string>viktig</string>
		<string>finne</string>
		<string>ligger</string>
		<string>spill</string>
		<string>hvis</string>
		<string>ting</string>
		<string>kirke</string>
		<string>la</string>
		<string>liten</string>
		<string>mennesker</string>
		<string>videre</string>
		<string>jobb</string>
		<string>M</string>
		<string>http</string>
		<string>spredning</string>
		<string>bt.no</string>
		<string>fotball</string>
		<string>temperatur</string>
		<string>vernet</string>
		<string>åndsverklovens</string>
		<string>utskriften</string>
		<string>passord</string>
		<string>først</string>
		<string>burde</string>
		<string>epost</string>
		<string>våre</string>
		<string>ansatte</string>
		<string>forsiden</string>
		<string>kjører</string>
		<string>land</string>
		<string>programmer</string>
		<string>utvikling</string>
		<string>tips</string>
		<string>S</string>
		<string>direktør</string>
		<string>lenker</string>
		<string>skriver</string>
		<string>meir</string>
		<string>allerede</string>
		<string>fri</string>
		<string>storm</string>
		<string>trenger</string>
		<string>km</string>
		<string>kysten</string>
		<string>fortsatt</string>
		<string>stillinger</string>
		<string>spørsmålet</string>
		<string>R</string>
		<string>ham</string>
		<string>fem</string>
		<string>of</string>
		<string>hjem</string>
		<string>foto</string>
		<string>kuling</string>
		<string>lagt</string>
		<string>året</string>
		<string>resultatet</string>
		<string>internett</string>
		<string>sagt</string>
		<string>feil</string>
		<string>kommet</string>
		<string>hus</string>
		<string>hindre</string>
		<string>borgere</string>
		<string>konsulter</string>
		<string>feltet</string>
		<string>været</string>
		<string>opphavsrettslig</string>
		<string>in</string>
		<string>tiden</string>
		<string>vårt</string>
		<string>heile</string>
		<string>me</string>
		<string>imot</string>
		<string>steder</string>
		<string>slo</string>
		<string>fast</string>
		<string>bor</string>
		<string>løpet</string>
		<string>C</string>
		<string>uansett</string>
		<string>kino</string>
		<string>sak</string>
		<string>egentlig</string>
		<string>resten</string>
		<string>ca</string>
		<string>lenger</string>
		<string>and</string>
		<string>kundesenter</string>
		<string>rettigheter</string>
		<string>gjerne</string>
		<string>politikk</string>
		<string>likevel</string>
	</array>
</plist>