<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>w</string>
		<string>na</string>
		<string>z</string>
		<string>się</string>
		<string>to</string>
		<string>a</string>
		<string>za</string>
		<string>wynajęcia</string>
		<string>od</string>
		<string>przez</string>
		<string>ma</string>
		<string>tylko</string>
		<string>są</string>
		<string>będzie</string>
		<string>zł</string>
		<string>Z</string>
		<string>może</string>
		<string>luzie</string>
		<string>by</string>
		<string>szanse</string>
		<string>listy</string>
		<string>jego</string>
		<string>jeszcze</string>
		<string>lat</string>
		<string>tej</string>
		<string>jednak</string>
		<string>złotych</string>
		<string>bez</string>
		<string>przed</string>
		<string>zastrzeżone</string>
		<string>firmy</string>
		<string>mówi</string>
		<string>e-mail</string>
		<string>mi</string>
		<string>także</string>
		<string>tel</string>
		<string>stronie</string>
		<string>które</string>
		<string>jej</string>
		<string>stronę</string>
		<string>treści</string>
		<string>było</string>
		<string>będą</string>
		<string>firm</string>
		<string>wszystkie</string>
		<string>był</string>
		<string>nieruchomości</string>
		<string>mają</string>
		<string>wypowiedzi</string>
		<string>on</string>
		<string>trzeba</string>
		<string>narciarskie</string>
		<string>kin</string>
		<string>zawodowe</string>
		<string>online</string>
		<string>zmiany</string>
		<string>czwartek</string>
		<string>inne</string>
		<string>dzieci</string>
		<string>kraju</string>
		<string>gdy</string>
		<string>należy</string>
		<string>godz</string>
		<string>http</string>
		<string>nad</string>
		<string>reklam</string>
		<string>gdzie</string>
		<string>nic</string>
		<string>forum</string>
		<string>życie</string>
		<string>tych</string>
		<string>ekspert</string>
		<string>U</string>
		<string>kod</string>
		<string>pani</string>
		<string>edytuj</string>
		<string>słowo</string>
		<string>teraz</string>
		<string>wszystko</string>
		<string>wydania</string>
		<string>firma</string>
		<string>reklamy</string>
		<string>albo</string>
		<string>premiera</string>
		<string>świata</string>
		<string>musi</string>
		<string>akcji</string>
		<string>C</string>
		<string>miasto</string>
		<string>mu</string>
		<string>handlowe</string>
		<string>we</string>
		<string>czasu</string>
		<string>ul</string>
		<string>giełdowe</string>
		<string>obrad</string>
		<string>X</string>
		<string>aby</string>
		<string>prezydenta</string>
		<string>miał</string>
		<string>adres</string>
		<string>nich</string>
		<string>pracownik</string>
		<string>prezes</string>
		<string>obrazka</string>
		<string>tu</string>
		<string>komentarz</string>
		<string>kobiety</string>
		<string>dobre</string>
		<string>ta</string>
		<string>pkt</string>
		<string>działalności</string>
		<string>czytaj</string>
		<string>prawie</string>
		<string>nowy</string>
		<string>szkolenia</string>
		<string>D</string>
		<string>ochrony</string>
		<string>ustawy</string>
		<string>eGP</string>
		<string>cały</string>
		<string>sprawiedliwości</string>
		<string>dziś</string>
		<string>wydanie</string>
		<string>czyli</string>
		<string>k</string>
		<string>zamieszczanych</string>
		<string>dostępu</string>
		<string>chcą</string>
		<string>którym</string>
		<string>ligi</string>
		<string>euro</string>
		<string>świat</string>
		<string>właśnie</string>
		<string>każdy</string>
		<string>domy</string>
		<string>kupić</string>
		<string>tygodnik</string>
		<string>m</string>
		<string>spółki</string>
		<string>pomorskie</string>
		<string>poniedziałek</string>
		<string>chyba</string>
		<string>zobacz</string>
		<string>procent</string>
		<string>znajomemu</string>
		<string>jeśli</string>
		<string>swoją</string>
		<string>bardziej</string>
		<string>dobrze</string>
		<string>dziennik</string>
		<string>rok</string>
		<string>wymiar</string>
		<string>pierwsza</string>
		<string>meczów</string>
		<string>siebie</string>
		<string>wybierz</string>
		<string>newsweek.pl</string>
		<string>zdrowia</string>
		<string>cen</string>
		<string>radzi</string>
		<string>zawsze</string>
		<string>nadal</string>
		<string>rozrywka</string>
		<string>kultura</string>
		<string>zgłaszać</string>
		<string>ha</string>
		<string>art</string>
		<string>sierpnia</string>
		<string>ktoś</string>
		<string>ocena</string>
		<string>swój</string>
		<string>E</string>
		<string>analiza</string>
		<string>pierwszy</string>
		<string>coraz</string>
		<string>swoim</string>
		<string>społeczne</string>
		<string>stron</string>
		<string>słowa</string>
		<string>podstawie</string>
		<string>oceniane</string>
		<string>ulicy</string>
		<string>odpowiadał</string>
		<string>uważasz</string>
		<string>dzieje</string>
		<string>G</string>
		<string>kobieta</string>
		<string>wczoraj</string>
		<string>F</string>
		<string>lata</string>
		<string>pytanie</string>
		<string>płac</string>
		<string>wiele</string>
		<string>zgodnie</string>
		<string>b</string>
		<string>ci</string>
		<string>finału</string>
		<string>zmienić</string>
		<string>pracowników</string>
		<string>rękę</string>
	</array>
</plist>