<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>de</string>
		<string>a</string>
		<string>da</string>
		<string>que</string>
		<string>em</string>
		<string>para</string>
		<string>na</string>
		<string>por</string>
		<string>um</string>
		<string>os</string>
		<string>ao</string>
		<string>contribs</string>
		<string>mais</string>
		<string>como</string>
		<string>das</string>
		<string>foi</string>
		<string>sobre</string>
		<string>hoje</string>
		<string>ano</string>
		<string>sua</string>
		<string>diz</string>
		<string>direitos</string>
		<string>contra</string>
		<string>m</string>
		<string>livre</string>
		<string>quer</string>
		<string>novo</string>
		<string>sem</string>
		<string>pesquisa</string>
		<string>gerais</string>
		<string>melhores</string>
		<string>S</string>
		<string>quando</string>
		<string>arquivo</string>
		<string>cento</string>
		<string>atuais</string>
		<string>http</string>
		<string>há</string>
		<string>privacidade</string>
		<string>aleatória</string>
		<string>aeroporto</string>
		<string>reservados</string>
		<string>vez</string>
		<string>edição</string>
		<string>mesmo</string>
		<string>fazer</string>
		<string>outros</string>
		<string>favor</string>
		<string>todas</string>
		<string>dias</string>
		<string>três</string>
		<string>onde</string>
		<string>sob</string>
		<string>É</string>
		<string>pessoas</string>
		<string>era</string>
		<string>notícias</string>
		<string>final</string>
		<string>milhões</string>
		<string>maior</string>
		<string>isso</string>
		<string>ele</string>
		<string>informações</string>
		<string>criar</string>
		<string>ministro</string>
		<string>autorais</string>
		<string>só</string>
		<string>política</string>
		<string>meses</string>
		<string>primeiro</string>
		<string>devido</string>
		<string>menos</string>
		<string>ponto</string>
		<string>segundo</string>
		<string>impressão</string>
		<string>R</string>
		<string>primeira</string>
		<string>duas</string>
		<string>aqui</string>
		<string>sido</string>
		<string>fonte</string>
		<string>destaque</string>
		<string>secção</string>
		<string>lista</string>
		<string>partir</string>
		<string>me</string>
		<string>assim</string>
		<string>suas</string>
		<string>numa</string>
		<string>mudanças</string>
		<string>alterações</string>
		<string>nacional</string>
		<string>abola.pt</string>
		<string>obesidade</string>
		<string>nem</string>
		<string>usuário</string>
		<string>dados</string>
		<string>sempre</string>
		<string>podem</string>
		<string>momento</string>
		<string>praia</string>
		<string>novos</string>
		<string>poder</string>
		<string>têm</string>
		<string>of</string>
		<string>dez</string>
		<string>D</string>
		<string>origem</string>
		<string>excesso</string>
		<string>deste</string>
		<string>local</string>
		<string>público</string>
		<string>resultados</string>
		<string>esse</string>
		<string>volta</string>
		<string>norte-americano</string>
		<string>somos</string>
		<string>nosso</string>
		<string>informação</string>
		<string>testes</string>
		<string>acordo</string>
		<string>homem</string>
		<string>início</string>
		<string>estava</string>
		<string>C</string>
		<string>parlamentar</string>
		<string>anuncia</string>
		<string>executivo</string>
		<string>ela</string>
		<string>olímpica</string>
		<string>recessão</string>
		<string>programa</string>
		<string>região</string>
		<string>nossa</string>
		<string>urgências</string>
		<string>você</string>
		<string>queda</string>
		<string>administração</string>
		<string>amanhã</string>
		<string>todo</string>
		<string>pertencem</string>
		<string>impressa</string>
		<string>modificada</string>
		<string>plano</string>
		<string>base</string>
		<string>vitória</string>
		<string>blogues</string>
		<string>autoridades</string>
		<string>anunciou</string>
		<string>próxima</string>
		<string>noite</string>
		<string>assinantes</string>
		<string>biocombustíveis</string>
		<string>seria</string>
		<string>devem</string>
		<string>seção</string>
		<string>obra</string>
		<string>apoio</string>
		<string>vence</string>
		<string>escolas</string>
		<string>terá</string>
		<string>jogo</string>
		<string>cardiovasculares</string>
		<string>estado</string>
		<string>horas</string>
		<string>links</string>
		<string>projeto</string>
		<string>empate</string>
		<string>oposição</string>
		<string>turistas</string>
		<string>acidente</string>
		<string>professores</string>
		<string>equipa</string>
		<string>decisão</string>
		<string>leva</string>
		<string>fazem</string>
		<string>lhe</string>
		<string>vezes</string>
		<string>usuários</string>
		<string>causa</string>
		<string>línguas</string>
		<string>acusa</string>
		<string>tal</string>
		<string>estrela</string>
		<string>casos</string>
		<string>força</string>
		<string>forte</string>
		<string>ficar</string>
		<string>lá</string>
		<string>crescimento</string>
		<string>morto</string>
		<string>publicações</string>
		<string>própria</string>
		<string>podemos</string>
		<string>nesta</string>
		<string>carro</string>
		<string>existe</string>
		<string>on-line</string>
		<string>baixa</string>
		<string>atraso</string>
		<string>abre</string>
	</array>
</plist>