<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>и</string>
		<string>не</string>
		<string>В</string>
		<string>от</string>
		<string>из</string>
		<string>для</string>
		<string>о</string>
		<string>как</string>
		<string>его</string>
		<string>года</string>
		<string>это</string>
		<string>И</string>
		<string>все</string>
		<string>у</string>
		<string>А</string>
		<string>будет</string>
		<string>их</string>
		<string>без</string>
		<string>он</string>
		<string>история</string>
		<string>О</string>
		<string>только</string>
		<string>об</string>
		<string>уже</string>
		<string>еще</string>
		<string>февраля</string>
		<string>я</string>
		<string>более</string>
		<string>они</string>
		<string>при</string>
		<string>Я</string>
		<string>ее</string>
		<string>против</string>
		<string>год</string>
		<string>того</string>
		<string>также</string>
		<string>вы</string>
		<string>чтобы</string>
		<string>есть</string>
		<string>номера</string>
		<string>жизнь</string>
		<string>больше</string>
		<string>который</string>
		<string>этой</string>
		<string>если</string>
		<string>газета</string>
		<string>жизни</string>
		<string>быть</string>
		<string>где</string>
		<string>пространстве</string>
		<string>страницы</string>
		<string>свой</string>
		<string>пока</string>
		<string>всех</string>
		<string>новые</string>
		<string>ответственности</string>
		<string>была</string>
		<string>номер</string>
		<string>ссылки</string>
		<string>всего</string>
		<string>рублей</string>
		<string>истории</string>
		<string>новостей</string>
		<string>срока</string>
		<string>вопрос</string>
		<string>страница</string>
		<string>российских</string>
		<string>обсуждение</string>
		<string>них</string>
		<string>сайту</string>
		<string>будущего</string>
		<string>готова</string>
		<string>дом</string>
		<string>кто</string>
		<string>века</string>
		<string>ума</string>
		<string>завершилось</string>
		<string>современном</string>
		<string>постсоветском</string>
		<string>трибуна</string>
		<string>искажается</string>
		<string>несколько</string>
		<string>стал</string>
		<string>теперь</string>
		<string>которой</string>
		<string>человека</string>
		<string>млрд</string>
		<string>дня</string>
		<string>вопросам</string>
		<string>хочет</string>
		<string>лишь</string>
		<string>декабря</string>
		<string>меня</string>
		<string>журнала</string>
		<string>дело</string>
		<string>него</string>
		<string>место</string>
		<string>часть</string>
		<string>над</string>
		<string>ограничениях</string>
		<string>свободной</string>
		<string>должна</string>
		<string>выборах</string>
		<string>срок</string>
		<string>навигация</string>
		<string>свои</string>
		<string>собирается</string>
		<string>контракт</string>
		<string>магазин</string>
		<string>становится</string>
		<string>власть</string>
		<string>мне</string>
		<string>мая</string>
		<string>трех</string>
		<string>перед</string>
		<string>сил</string>
		<string>тыс</string>
		<string>одной</string>
		<string>около</string>
		<string>возможность</string>
		<string>путь</string>
		<string>главного</string>
		<string>процесс</string>
		<string>хотят</string>
		<string>стране</string>
		<string>места</string>
		<string>выборов</string>
		<string>рамках</string>
		<string>октября</string>
		<string>читателей</string>
		<string>начали</string>
		<string>слово</string>
		<string>столичных</string>
		<string>кризиса</string>
		<string>принимать</string>
		<string>новом</string>
		<string>трудно</string>
		<string>авторов</string>
		<string>языке</string>
		<string>правда</string>
		<string>П</string>
		<string>руках</string>
		<string>вкладов</string>
		<string>июля</string>
		<string>имидж</string>
		<string>купить</string>
		<string>версия</string>
		<string>палаты</string>
		<string>государственные</string>
		<string>проблему</string>
		<string>комментарий</string>
		<string>материалов</string>
		<string>писателя</string>
		<string>автомобилей</string>
		<string>ищет</string>
		<string>вместе</string>
		<string>лучший</string>
		<string>пора</string>
		<string>юбилей</string>
		<string>носят</string>
		<string>ведомства</string>
		<string>последствия</string>
		<string>западного</string>
		<string>хотя</string>
		<string>принадлежности</string>
		<string>построить</string>
		<string>великого</string>
		<string>игры</string>
		<string>кота</string>
		<string>обратно</string>
		<string>согласился</string>
		<string>английского</string>
		<string>приходят</string>
		<string>космос</string>
		<string>отказаться</string>
		<string>недавно</string>
		<string>демократия</string>
		<string>правых</string>
		<string>востребования</string>
		<string>содержимое</string>
		<string>ног</string>
		<string>ответили</string>
		<string>московский</string>
		<string>потому</string>
		<string>английском</string>
		<string>золотые</string>
		<string>пожаловать</string>
		<string>читателям</string>
		<string>закрыть</string>
		<string>учитывать</string>
		<string>свидетельство</string>
		<string>Ш</string>
		<string>герои</string>
		<string>обозреватель</string>
		<string>финансового</string>
		<string>референдума</string>
		<string>зависеть</string>
		<string>газа</string>
		<string>зубы</string>
		<string>огнем</string>
		<string>выпустил</string>
	</array>
</plist>