<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>atminstone</string>
		<string>an</string>
		<string>anda</string>
		<string>aven</string>
		<string>aldrig</string>
		<string>alla</string>
		<string>alls</string>
		<string>allt</string>
		<string>alltid</string>
		<string>allting</string>
		<string>alltsa</string>
		<string>andra</string>
		<string>annan</string>
		<string>annars</string>
		<string>antingen</string>
		<string>att</string>
		<string>bakom</string>
		<string>bland</string>
		<string>blev</string>
		<string>bli</string>
		<string>bliva</string>
		<string>blivit</string>
		<string>bort</string>
		<string>bortom</string>
		<string>bredvid</string>
		<string>dar</string>
		<string>darav</string>
		<string>darefter</string>
		<string>darfor</string>
		<string>dari</string>
		<string>darigenom</string>
		<string>darvid</string>
		<string>dedar</string>
		<string>definitivt</string>
		<string>del</string>
		<string>den</string>
		<string>dendar</string>
		<string>denhar</string>
		<string>denna</string>
		<string>deras</string>
		<string>dessa</string>
		<string>dessutom</string>
		<string>desto</string>
		<string>det</string>
		<string>detta</string>
		<string>dylik</string>
		<string>efterat</string>
		<string>efter</string>
		<string>eftersom</string>
		<string>eller</string>
		<string>emellertid</string>
		<string>enbart</string>
		<string>endast</string>
		<string>enligt</string>
		<string>ens</string>
		<string>ensam</string>
		<string>envar</string>
		<string>eran</string>
		<string>etc</string>
		<string>ett</string>
		<string>exakt</string>
		<string>fatt</string>
		<string>fastan</string>
		<string>fick</string>
		<string>fler</string>
		<string>flera</string>
		<string>foljande</string>
		<string>foljde</string>
		<string>foljer</string>
		<string>for</string>
		<string>fore</string>
		<string>forhoppningsvis</string>
		<string>formodligen</string>
		<string>forr</string>
		<string>forra</string>
		<string>forutom</string>
		<string>forvisso</string>
		<string>fran</string>
		<string>framfor</string>
		<string>fullstandigt</string>
		<string>gang</string>
		<string>gar</string>
		<string>gatt</string>
		<string>ganska</string>
		<string>gav</string>
		<string>genom</string>
		<string>genomgaende</string>
		<string>ger</string>
		<string>gick</string>
		<string>gjorde</string>
		<string>gjort</string>
		<string>gor</string>
		<string>hade</string>
		<string>har</string>
		<string>harav</string>
		<string>har</string>
		<string>hej</string>
		<string>hela</string>
		<string>helst</string>
		<string>helt</string>
		<string>hitta</string>
		<string>hon</string>
		<string>honom</string>
		<string>hur</string>
		<string>huruvida</string>
		<string>huvudsakligen</string>
		<string>ibland</string>
		<string>icke</string>
		<string>ickedestomindre</string>
		<string>igen</string>
		<string>ihop</string>
		<string>inat</string>
		<string>ingen</string>
		<string>ingenstans</string>
		<string>inget</string>
		<string>innan</string>
		<string>innehalla</string>
		<string>inre</string>
		<string>inte</string>
		<string>inuti</string>
		<string>istaellet</string>
		<string>kanske</string>
		<string>klart</string>
		<string>knappast</string>
		<string>knappt</string>
		<string>kom</string>
		<string>komma</string>
		<string>kommer</string>
		<string>kraver</string>
		<string>kunde</string>
		<string>kunna</string>
		<string>lata</string>
		<string>later</string>
		<string>lagga</string>
		<string>langre</string>
		<string>laet</string>
		<string>lagd</string>
		<string>leta</string>
		<string>letar</string>
		<string>manga</string>
		<string>maste</string>
		<string>med</string>
		<string>medan</string>
		<string>medans</string>
		<string>mellan</string>
		<string>mest</string>
		<string>min</string>
		<string>mindre</string>
		<string>minst</string>
		<string>mittemellan</string>
		<string>motsvarande</string>
		<string>mycket</string>
		<string>nagon</string>
		<string>nagongang</string>
		<string>nagonsin</string>
		<string>nagonstans</string>
		<string>nagonting</string>
		<string>nagorlunda</string>
		<string>nagot</string>
		<string>namligen</string>
		<string>nar</string>
		<string>nara</string>
		<string>nasta</string>
		<string>nastan</string>
		<string>nedat</string>
		<string>nedanfor</string>
		<string>nerat</string>
		<string>ner</string>
		<string>nog</string>
		<string>normalt</string>
		<string>nummer</string>
		<string>nuvarande</string>
		<string>nytt</string>
		<string>oavsett</string>
		<string>och</string>
		<string>ocksa</string>
		<string>oppna</string>
		<string>over</string>
		<string>overallt</string>
		<string>ofta</string>
		<string>okej</string>
		<string>olika</string>
		<string>ovanfor</string>
		<string>ratt</string>
		<string>redan</string>
		<string>relativt</string>
		<string>respektive</string>
		<string>rimlig</string>
		<string>rimligen</string>
		<string>rimligt</string>
		<string>salunda</string>
		<string>savida</string>
		<string>saga</string>
		<string>sager</string>
		<string>sakert</string>
		<string>sand</string>
		<string>sarskilt</string>
		<string>satt</string>
		<string>sak</string>
		<string>samma</string>
		<string>samtliga</string>
		<string>sedd</string>
		<string>senare</string>
		<string>senaste</string>
		<string>ser</string>
		<string>sig</string>
		<string>sista</string>
		<string>sjaelv</string>
		<string>ska</string>
		<string>skall</string>
		<string>skickad</string>
		<string>skriva</string>
		<string>skulle</string>
		<string>snabb</string>
		<string>snarare</string>
		<string>snart</string>
		<string>som</string>
		<string>somliga</string>
		<string>speciellt</string>
		<string>stalla</string>
		<string>stallet</string>
		<string>starta</string>
		<string>strax</string>
		<string>stundom</string>
		<string>tackar</string>
		<string>tanka</string>
		<string>taga</string>
		<string>tagen</string>
		<string>tala</string>
		<string>tanke</string>
		<string>tidigare</string>
		<string>tills</string>
		<string>tog</string>
		<string>totalt</string>
		<string>trolig</string>
		<string>troligen</string>
		<string>tvaers</string>
		<string>tvars</string>
		<string>tycka</string>
		<string>tyckte</string>
		<string>tyvarr</string>
		<string>understundom</string>
		<string>upp</string>
		<string>uppenbarligen</string>
		<string>uppenbart</string>
		<string>utan</string>
		<string>utanfor</string>
		<string>uteslutande</string>
		<string>utom</string>
		<string>var</string>
		<string>varan</string>
		<string>vad</string>
		<string>val</string>
		<string>varde</string>
		<string>vanlig</string>
		<string>vanligen</string>
		<string>var</string>
		<string>vare</string>
		<string>varenda</string>
		<string>varfor</string>
		<string>varifran</string>
		<string>varit</string>
		<string>varje</string>
		<string>varken</string>
		<string>vars</string>
		<string>vart</string>
		<string>vem</string>
		<string>verkligen</string>
		<string>vidare</string>
		<string>vilken</string>
		<string>vill</string>
		<string>visar</string>
		<string>visst</string>
		<string>visste</string>
</array>
</plist>
