<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ที่</string>
	<string>โดย</string>
	<string>การ</string>
	<string>ให้</string>
	<string>ใน</string>
	<string>แล้ว</string>
	<string>ความ</string>
	<string>ไม่</string>
	<string>ของ</string>
	<string>แสดง</string>
	<string>ได้</string>
	<string>และ</string>
	<string>เป็น</string>
	<string>ผู้</string>
	<string>ส่ง</string>
	<string>วัน</string>
	<string>กับ</string>
	<string>กลับ</string>
	<string>มี</string>
	<string>ตอบ</string>
	<string>ไป</string>
	<string>จาก</string>
	<string>ข่าว</string>
	<string>จะ</string>
	<string>หน้า</string>
	<string>งาน</string>
	<string>ภาพ</string>
	<string>มา</string>
	<string>คน</string>
	<string>เห็น</string>
	<string>นี้</string>
	<string>ไทย</string>
	<string>ว่า</string>
	<string>คิด</string>
	<string>ปี</string>
	<string>ต่อ</string>
	<string>ชน</string>
	<string>ใช้</string>
	<string>หรือ</string>
	<string>ดู</string>
	<string>มติ</string>
	<string>รัก</string>
	<string>กัน</string>
	<string>ท่าน</string>
	<string>ต่าง</string>
	<string>ทาง</string>
	<string>ยัง</string>
	<string>พระ</string>
	<string>คำ</string>
	<string>ใหม่</string>
</array>
</plist>
