<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>ve</string>
		<string>bir</string>
		<string>de</string>
		<string>da</string>
		<string>daha</string>
		<string>yeni</string>
		<string>hem</string>
		<string>gibi</string>
		<string>var</string>
		<string>zaman</string>
		<string>oldu</string>
		<string>tarihi</string>
		<string>ne</string>
		<string>ya</string>
		<string>kişi</string>
		<string>karşı</string>
		<string>kaza</string>
		<string>devam</string>
		<string>yaralı</string>
		<string>ki</string>
		<string>gün</string>
		<string>kez</string>
		<string>sayfa</string>
		<string>tek</string>
		<string>edebiyat</string>
		<string>destanları</string>
		<string>mi</string>
		<string>üzerinde</string>
		<string>diye</string>
		<string>e-mail</string>
		<string>önce</string>
		<string>bile</string>
		<string>neden</string>
		<string>aynı</string>
		<string>günü</string>
		<string>sadece</string>
		<string>geliyor</string>
		<string>önemli</string>
		<string>özel</string>
		<string>olduğunu</string>
		<string>göre</string>
		<string>proje</string>
		<string>yerine</string>
		<string>yolunda</string>
		<string>döneminde</string>
		<string>ortak</string>
		<string>içinde</string>
		<string>zamanda</string>
		<string>eski</string>
		<string>eğitim</string>
		<string>on</string>
		<string>in</string>
		<string>önceki</string>
		<string>yapılan</string>
		<string>dair</string>
		<string>yaşındaki</string>
		<string>günlerde</string>
		<string>dakika</string>
		<string>ele</string>
		<string>devlet</string>
		<string>kendi</string>
		<string>dönemi</string>
		<string>para</string>
		<string>imza</string>
		<string>detaylı</string>
		<string>linkler</string>
		<string>yıllık</string>
		<string>line</string>
		<string>şekilde</string>
		<string>a</string>
		<string>oran</string>
		<string>siz</string>
		<string>itibaren</string>
		<string>dört</string>
		<string>başına</string>
		<string>dolayı</string>
		<string>uygun</string>
		<string>ortaya</string>
		<string>haberlerin</string>
		<string>üzere</string>
		<string>yazı</string>
		<string>hızlı</string>
		<string>beri</string>
		<string>operasyonu</string>
		<string>ekle</string>
		<string>tasarım</string>
		<string>geçmiş</string>
		<string>fark</string>
		<string>cenazesi</string>
		<string>spor</string>
		<string>konusunda</string>
		<string>işi</string>
		<string>ikinci</string>
		<string>geldi</string>
		<string>is</string>
		<string>başladı</string>
		<string>uzun</string>
		<string>küçük</string>
		<string>düştü</string>
		<string>bağlı</string>
		<string>alındı</string>
		<string>öncesi</string>
		<string>tutuklama</string>
		<string>seçim</string>
		<string>yapılacak</string>
		<string>grev</string>
		<string>hangi</string>
		<string>tekrar</string>
		<string>önünde</string>
		<string>can</string>
		<string>reklam</string>
		<string>fazla</string>
		<string>oyun</string>
		<string>bilgi</string>
		<string>coşkusu</string>
		<string>sürprizi</string>
		<string>futbolcu</string>
		<string>teklif</string>
		<string>meselesi</string>
		<string>altında</string>
		<string>hesap</string>
		<string>göster</string>
		<string>başka</string>
		<string>trafik</string>
		<string>ilginç</string>
		<string>mısınız</string>
		<string>döndü</string>
		<string>aç</string>
		<string>arama</string>
		<string>kitabı</string>
		<string>makale</string>
		<string>result</string>
		<string>boyunca</string>
		<string>supplied</string>
		<string>resource</string>
		<string>gereken</string>
		<string>ait</string>
		<string>ilmi</string>
		<string>olacağı</string>
		<string>atan</string>
		<string>ilkesi</string>
		<string>uyarısı</string>
		<string>efsane</string>
		<string>biz</string>
		<string>operasyonunda</string>
		<string>dili</string>
		<string>kapatma</string>
		<string>polis</string>
		<string>bulma</string>
		<string>yöntemi</string>
		<string>kız</string>
		<string>çalıştı</string>
		<string>manevî</string>
		<string>yükle</string>
		<string>budur</string>
		<string>portalı</string>
		<string>şu</string>
		<string>üçüncü</string>
		<string>kullan</string>
		<string>tarihin</string>
		<string>sözlü</string>
		<string>arşiv</string>
		<string>seçildi</string>
		<string>sayısı</string>
		<string>genç</string>
		<string>kayda</string>
		<string>bilimi</string>
		<string>kabul</string>
		<string>firma</string>
		<string>dalında</string>
		<string>yararı</string>
		<string>roman</string>
		<string>mirası</string>
		<string>medenî</string>
		<string>türüdür</string>
		<string>tetkik</string>
		<string>kamuya</string>
		<string>veriyor</string>
		<string>meselelerini</string>
		<string>memleketine</string>
		<string>gönderildi</string>
		<string>âşık</string>
		<string>yurdunun</string>
		<string>edebiyatın</string>
		<string>bulundu</string>
		<string>ozanların</string>
		<string>mukayeseli</string>
		<string>edebiyatını</string>
		<string>tipolojik</string>
		<string>destanlar</string>
		<string>başında</string>
		<string>üç</string>
		<string>olsun</string>
		<string>milli</string>
	</array>
</plist>