<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>і</string>
	<string>та</string>
	<string>не</string>
	<string>В</string>
	<string>У</string>
	<string>в</string>
	<string>у</string>
	<string>уві</string>
	<string>вві</string>
	<string>від</string>
	<string>од</string>
	<string>із</string>
	<string>з</string>
	<string>з-за</string>
	<string>із-за</string>
	<string>для</string>
	<string>задля</string>
	<string>о</string>
	<string>про</string>
	<string>як</string>
	<string>позаяк</string>
	<string>оскільки</string>
	<string>його</string>
	<string>він</string>
	<string>вона</string>
	<string>воно</string>
	<string>вони</string>
	<string>я</string>
	<string>ти</string>
	<string>ми</string>
	<string>ви</string>
	<string>мене</string>
	<string>мені</string>
	<string>тебе</string>
	<string>тобі</string>
	<string>нас</string>
	<string>нам</string>
	<string>вас</string>
	<string>вам</string>
	<string>вами</string>
	<string>нами</string>
	<string>ними</string>
	<string>мною</string>
	<string>тобою</string>
	<string>ним</string>
	<string>йому</string>
	<string>ньому</string>
	<string>її</string>
	<string>неї</string>
	<string>їй</string>
	<string>неї</string>
	<string>їм</string>
	<string>мій</string>
	<string>мого</string>
	<string>моєго</string>
	<string>моєму</string>
	<string>твій</string>
	<string>твого</string>
	<string>твоєго</string>
	<string>твоєму</string>
	<string>наш</string>
	<string>нашого</string>
	<string>нашому</string>
	<string>нашим</string>
	<string>ваш</string>
	<string>вашого</string>
	<string>вашому</string>
	<string>вашим</string>
	<string>їхній</string>
	<string>їхнього</string>
	<string>їхньому</string>
	<string>свій</string>
	<string>свого</string>
	<string>своєму</string>
	<string>своїм</string>
	<string>того</string>
	<string>той</string>
	<string>тая</string>
	<string>тоє</string>
	<string>тії</string>
	<string>теї</string>
	<string>цей</string>
	<string>цього</string>
	<string>цьому</string>
	<string>цим</string>
	<string>ця</string>
	<string>цеї</string>
	<string>цій</string>
	<string>цією</string>
	<string>це</string>
	<string>той</string>
	<string>того</string>
	<string>тим</string>
	<string>тому</string>
	<string>тою</string>
	<string>тій</string>
	<string>тією</string>
	<string>то</string>
	<string>все</string>
	<string>всього</string>
	<string>всьому</string>
	<string>всим</string>
	<string>вся</string>
	<string>всій</string>
	<string>всієї</string>
	<string>всеї</string>
	<string>весь</string>
	<string>всі</string>
	<string>всіми</string>
	<string>всими</string>
	<string>ті</string>
	<string>тими</string>
	<string>тих</string>
	<string>тим</string>
	<string>всим</string>
	<string>всім</string>
	<string>усе</string>
	<string>усього</string>
	<string>усьому</string>
	<string>усим</string>
	<string>уся</string>
	<string>усій</string>
	<string>усієї</string>
	<string>усеї</string>
	<string>уесь</string>
	<string>усі</string>
	<string>усіми</string>
	<string>усими</string>
	<string>то</string>
	<string>усим</string>
	<string>усім</string>
	<string>їх</string>
	<string>їм</string>
	<string>року</string>
	<string>буде</string>
	<string>повз</string>
	<string>без</string>
	<string>історія</string>
	<string>тільки</string>
	<string>що</string>
	<string>но</string>
	<string>об</string>
	<string>уже</string>
	<string>вже</string>
	<string>ще</string>
	<string>потім</string>
	<string>зараз</string>
	<string>наново</string>
	<string>наразі</string>
	<string>січня</string>
	<string>лютого</string>
	<string>березня</string>
	<string>квітня</string>
	<string>травня</string>
	<string>червня</string>
	<string>липня</string>
	<string>серпня</string>
	<string>вересня</string>
	<string>жовтня</string>
	<string>листопада</string>
	<string>грудня</string>
	<string>січень</string>
	<string>лютий</string>
	<string>березень</string>
	<string>квітень</string>
	<string>травень</string>
	<string>червень</string>
	<string>липень</string>
	<string>серпень</string>
	<string>вересень</string>
	<string>жовтень</string>
	<string>листопад</string>
	<string>грудень</string>
	<string>рік</string>
	<string>року</string>
	<string>роком</string>
	<string>році</string>
	<string>роки</string>
	<string>років</string>
	<string>роками</string>
	<string>роках</string>
	<string>при</string>
	<string>від</string>
	<string>перед</string>
	<string>за</string>
	<string>під</string>
	<string>над</string>
	<string>більш</string>
	<string>менш</string>
	<string>проти</string>
	<string>також</string>
	<string>як</string>
	<string>так</string>
	<string>ні</string>
	<string>щоб</string>
	<string>нащо</string>
	<string>є</string>
	<string>немає</string>
	<string>номер</string>
	<string>число</string>
	<string>кількість</string>
	<string>номера</string>
	<string>життя</string>
	<string>більше</string>
	<string>менше</string>
	<string>котрий</string>
	<string>який</string>
	<string>котрого</string>
	<string>котрому</string>
	<string>котрим</string>
	<string>якого</string>
	<string>якому</string>
	<string>яким</string>
	<string>яка</string>
	<string>якої</string>
	<string>якій</string>
	<string>яке</string>
	<string>які</string>
	<string>яких</string>
	<string>яким</string>
	<string>якими</string>
	<string>котра</string>
	<string>котрої</string>
	<string>котрій</string>
	<string>котрою</string>
	<string>котре</string>
	<string>котрі</string>
	<string>котрим</string>
	<string>котрих</string>
	<string>котрими</string>
	<string>якщо</string>
	<string>газета</string>
	<string>життя</string>
	<string>де</string>
	<string>тут</string>
	<string>там</string>
	<string>тими</string>
	<string>цими</string>
	<string>сторінка</string>
	<string>сторінки</string>
	<string>сторінці</string>
	<string>сторінок</string>
	<string>поки</string>
	<string>доки</string>
	<string>сьогодні</string>
	<string>завтра</string>
	<string>післязавтра</string>
	<string>потім</string>
	<string>тоді</string>
	<string>часом</string>
	<string>новий</string>
	<string>нова</string>
	<string>нове</string>
	<string>нові</string>
	<string>бути</string>
	<string>був</string>
	<string>була</string>
	<string>було</string>
	<string>були</string>
	<string>буде</string>
	<string>будуть</string>
	<string>будемо</string>
	<string>будете</string>
	<string>простір</string>
	<string>нового</string>
	<string>нової</string>
	<string>нових</string>
	<string>новим</string>
	<string>новою</string>
	<string>новими</string>
	<string>новому</string>
	<string>новій</string>
	<string>новим</string>
	<string>старий</string>
	<string>стара</string>
	<string>старе</string>
	<string>старі</string>
	<string>старого</string>
	<string>старої</string>
	<string>старих</string>
	<string>старим</string>
	<string>старій</string>
	<string>старими</string>
	<string>старих</string>
	<string>посилання</string>
	<string>лінк</string>
	<string>всього</string>
	<string>усього</string>
	<string>разом</string>
	<string>окремо</string>
	<string>долари</string>
	<string>долар</string>
	<string>євро</string>
	<string>гривня</string>
	<string>гривні</string>
	<string>гривень</string>
	<string>гривнями</string>
	<string>гривнею</string>
	<string>сайт</string>
	<string>сайта</string>
	<string>сайту</string>
	<string>сайтом</string>
	<string>сайті</string>
	<string>сайти</string>
	<string>сайтів</string>
	<string>сайтам</string>
	<string>сайтах</string>
	<string>сайтами</string>
	<string>веб</string>
	<string>строк</string>
	<string>термін</string>
	<string>питання</string>
	<string>питань</string>
	<string>українських</string>
	<string>український</string>
	<string>українська</string>
	<string>українське</string>
	<string>українського</string>
	<string>чоловік</string>
	<string>жінка</string>
	<string>хтось</string>
	<string>щось</string>
	<string>комусь</string>
	<string>когось</string>
	<string>чогось</string>
	<string>чомусь</string>
	<string>що</string>
	<string>чого</string>
	<string>чому</string>
	<string>чим</string>
	<string>чими</string>
	<string>краще</string>
	<string>кращий</string>
	<string>більший</string>
	<string>менший</string>
	<string>великий</string>
	<string>малий</string>
	<string>гірше</string>
	<string>гірший</string>
	<string>гарний</string>
	<string>добрий</string>
	<string>поганий</string>
	<string>гарна</string>
	<string>добра</string>
	<string>погана</string>
	<string>гарне</string>
	<string>добре</string>
	<string>погано</string>
	<string>погане</string>
	<string>гарні</string>
	<string>добрі</string>
	<string>погані</string>
	<string>десь</string>
	<string>тільки</string>
	<string>скільки</string>
	<string>мало</string>
	<string>багато</string>
	<string>малий</string>
	<string>великий</string>
	<string>людина</string>
	<string>за</string>
	<string>перед</string>
	<string>поза</string>
	<string>раніше</string>
	<string>пізніше</string>
	<string>вчасно</string>
	<string>ага</string>
	<string>ого</string>
	<string>угу</string>
	<string>круто</string>
	<string>без</string>
	<string>з</string>
	<string>від</string>
	<string>до</string>
	<string>над</string>
	<string>під</string>
	<string>збоку</string>
	<string>куди</string>
	<string>туди</string>
	<string>сюди</string>
	<string>проте</string>
	<string>зате</string>
	<string>наново</string>
	<string>як</string>
	<string>ніяк</string>
	<string>амінь</string>
	<string>перед</string>
	<string>дякую</string>
	<string>подяка</string>
	<string>скажи</string>
	<string>пошук</string>
	<string>знайти</string>
	<string>робити</string>
	<string>особа</string>
	<string>інформація</string>
	<string>адреса</string>
	<string>номер</string>
	<string>аби</string>
	<string>абикуди</string>
	<string>абияк</string>
	<string>або</string>
	<string>але</string>
	<string>без</string>
	<string>би</string>
	<string>біля</string>
	<string>більш</string>
	<string>буде</string>
	<string>будемо</string>
	<string>буду</string>
	<string>будуть</string>
	<string>будь</string>
	<string>коли</string>
	<string>були</string>
	<string>було</string>
	<string>бути</string>
	<string>вас</string>
	<string>ваш</string>
	<string>вдалині</string>
	<string>верх</string>
	<string>весь</string>
	<string>вже</string>
	<string>ви</string>
	<string>вигляд</string>
	<string>видно</string>
	<string>вищі</string>
	<string>від</string>
	<string>відноситься</string>
	<string>відразу</string>
	<string>він</string>
	<string>вниз</string>
	<string>внизу</string>
	<string>вона</string>
	<string>вони</string>
	<string>врівень</string>
	<string>все</string>
	<string>всередину</string>
	<string>все</string>
	<string>таки</string>
	<string>всупереч</string>
	<string>всього</string>
	<string>далі</string>
	<string>де</string>
	<string>декілька</string>
	<string>деколи</string>
	<string>де</string>
	<string>небудь</string>
	<string>десь</string>
	<string>дехто</string>
	<string>дечий</string>
	<string>дещо</string>
	<string>деякий</string>
	<string>для</string>
	<string>до</string>
	<string>доки</string>
	<string>є</string>
	<string>ж</string>
	<string>жоден</string>
	<string>з</string>
	<string>за</string>
	<string>замість</string>
	<string>зате</string>
	<string>звідки</string>
	<string>звідки-небудь</string>
	<string>звідкись</string>
	<string>звідси</string>
	<string>згідно</string>
	<string>знов</string>
	<string>знову</string>
	<string>зовні</string>
	<string>зовсім</string>
	<string>і</string>
	<string>із</string>
	<string>за</string>
	<string>інакше</string>
	<string>інколи</string>
	<string>інших</string>
	<string>інші</string>
	<string>її</string>
	<string>їх</string>
	<string>його</string>
	<string>йому</string>
	<string>когось</string>
	<string>коли</string>
	<string>коли</string>
	<string>колись</string>
	<string>коротко</string>
	<string>котрий</string>
	<string>котрийсь</string>
	<string>крізь</string>
	<string>куди</string>
	<string>куди</string>
	<string>кудись</string>
	<string>ледве</string>
	<string>ледь</string>
	<string>лише</string>
	<string>майже</string>
	<string>мало</string>
	<string>ми</string>
	<string>мимо</string>
	<string>між</string>
	<string>містить</string>
	<string>містить</string>
	<string>може</string>
	<string>можна</string>
	<string>на</string>
	<string>набагато</string>
	<string>навздогін</string>
	<string>навіщо</string>
	<string>навіщось</string>
	<string>навряд</string>
	<string>чи</string>
	<string>над</string>
	<string>надалі</string>
	<string>назад</string>
	<string>нарізно</string>
	<string>наскільки</string>
	<string>настільки</string>
	<string>наш</string>
	<string>не</string>
	<string>небагато</string>
	<string>немало</string>
	<string>ним</string>
	<string>ні</string>
	<string>якому</string>
	<string>разі</string>
	<string>раз</string>
	<string>ніби</string>
	<string>ніде</string>
	<string>ніколи</string>
	<string>нікуди</string>
	<string>ніскільки</string>
	<string>ніхто</string>
	<string>нічий</string>
	<string>нічого</string>
	<string>ніщо</string>
	<string>обоє</string>
	<string>окрім</string>
	<string>оскільки</string>
	<string>особливо</string>
	<string>остільки</string>
	<string>ось</string>
	<string>перед</string>
	<string>під</string>
	<string>пізніше</string>
	<string>після</string>
	<string>по</string>
	<string>поблизу</string>
	<string>повно</string>
	<string>подекуди</string>
	<string>полягає</string>
	<string>помалу</string>
	<string>поряд</string>
	<string>своєму</string>
	<string>посередині</string>
	<string>потім</string>
	<string>представляє</string>
	<string>представляють</string>
	<string>при</string>
	<string>про</string>
	<string>просто</string>
	<string>проте</string>
	<string>проти</string>
	<string>прямо</string>
	<string>ради</string>
	<string>разом</string>
	<string>раніше</string>
	<string>раптом</string>
	<string>своїми очима</string>
	<string>серед</string>
	<string>скільки</string>
	<string>скількись</string>
	<string>складно</string>
	<string>собі</string>
	<string>собою</string>
	<string>спереду</string>
	<string>спершу</string>
	<string>спочатку</string>
	<string>стільки</string>
	<string>суцільно</string>
	<string>та</string>
	<string>так</string>
	<string>так що</string>
	<string>такий</string>
	<string>також</string>
	<string>там</string>
	<string>те</string>
	<string>теж</string>
	<string>то</string>
	<string>хіба</string>
	<string>того</string>
	<string>тоді</string>
	<string>той</string>
	<string>той</string>
	<string>що містить</string>
	<string>том</string>
	<string>тому</string>
	<string>треба</string>
	<string>тут</string>
	<string>у</string>
	<string>відношенні</string>
	<string>убік</string>
	<string>увись</string>
	<string>увісьмох</string>
	<string>удалину</string>
	<string>удвічі</string>
	<string>удвічі</string>
	<string>удвох</string>
	<string>удев'ятьох</string>
	<string>удосталь</string>
	<string>укупі</string>
	<string>уподовж</string>
	<string>усередині</string>
	<string>услід</string>
	<string>усюди</string>
	<string>хоч</string>
	<string>хоча</string>
	<string>хто</string>
	<string>хтось</string>
	<string>це</string>
	<string>цим</string>
	<string>цих</string>
	<string>ці</string>
	<string>цьому</string>
	<string>часом</string>
	<string>через</string>
	<string>чи</string>
	<string>чиє</string>
	<string>чиєсь</string>
	<string>чий</string>
	<string>чий</string>
	<string>небудь</string>
	<string>чийсь</string>
	<string>чим</string>
	<string>чого</string>
	<string>чого-небудь</string>
	<string>чогось</string>
	<string>чому</string>
	<string>чомусь</string>
	<string>шляхом</string>
	<string>ще</string>
	<string>що</string>
	<string>що зовсім</string>
	<string>що має</string>
	<string>що мають</string>
	<string>що скільки-небудь</string>
	<string>щоб</string>
	<string>що-небудь</string>
	<string>щосили</string>
	<string>щось</string>
	<string>я</string>
	<string>і</string>
	<string>раніше</string>
	<string>якийсь</string>
	<string>як-небудь</string>
	<string>якось</string>
	<string>якщо</string>
	<string>й</string>
	<string>ті</string>
	<string>від</string>
	<string>ці</string>
	<string>ця</string>
	<string>цю</string>
	<string>цієї</string>
	<string>усіх</string>
	<string>які</string>
	<string>якої</string>
	<string>якою</string>
	<string>якому</string>
	<string>грн</string>
	<string>якщо</string>
	<string>цього</string>
	<string>свої</string>
	<string>своїх</string>
	<string>зі</string>
	<string>з</string>
	<string>або</string>
	<string>ні</string>
	<string>інщої</string>
	<string>як</string>
	<string>яка</string>
	<string>якої</string>
	<string>деяких</string>
	<string>деяка</string>
	<string>деякий</string>
	<string>якщо</string>
	<string>які</string>
	<string>яке</string>
	<string>яку</string>
	<string>яким</string>
	<string>яких</string>
	<string>який</string>
	<string>якій</string>
	<string>якими</string>
	<string>якого</string>
	<string>або</string>
	<string>такому</string>
	<string>таких</string>
	<string>таким</string>
	<string>такого</string>
	<string>адже</string>
	<string>має</string>
	<string>маю</string>
	<string>їхнім</string>
	<string>вул</string>
	<string>тел</string>
	<string>якщо</string>
	<string>якому</string>
	<string>їм</string>
	<string>щодо</string>
	<string>об</string>
	<string>оба</string>
	<string>обидва</string>
	<string>обидві</string>
	<string>був</string>
	<string>була</string>
	<string>було</string>
	<string>під</string>
	<string>ці</string>
	<string>ця</string>
	<string>цією</string>
	<string>цими</string>
	<string>цим</string>
	<string>цій</string>
	<string>ній</string>
	<string>свій</string>
	<string>іншому</string>
	<string>інших</string>
	<string>іншим</string>
	<string>іншого</string>
	<string>іншої</string>
	<string>іншими</string>
	<string>тільки</string>
	<string>деякі</string>
	<string>повному</string>
	<string>насамперед</string>
	<string>крім</string>
	<string>того</string>
	<string>напередодні</string>
	<string>безпосередньо</string>
	<string>однак</string>
	<string>ніж</string>
	<string>таким</string>
	<string>чином</string>
	<string>менш</string>
	<string>ніж</string>
	<string>більш</string>
	<string>перш</string>
	<string>будь-коли</string>
	<string>де-небудь</string>
	<string>із-за</string>
	<string>куди-небудь</string>
	<string>ледь-ледь</string>
	<string>чиє-небудь</string>
	<string>чий-небудь</string>
	<string>чого-небудь</string>
	<string>скільки-небудь</string>
	<string>що-небудь</string>
	<string>як-небудь</string>
	</array>
</plist>
