




  <div class="method_details_list">
    
    
      
        <div class="method_details first">
  <h3 class="signature first" id="resource.targeted?-instance_method">
  
    #<strong>resource.targeted?</strong>  &#x21d2; <tt>Boolean</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Determines if the resource is eligible for inclusion
in the current target based on the front matter data
<code>target</code> and <code>exclude</code> fields.</p>

<ul>
  <li>If <strong>frontmatter:target</strong> is used, the target or
feature appears in the frontmatter, and</li>
  <li>If <strong>frontmatter:exclude</strong> is used, the target or
enabled feature does NOT appear in the
frontmatter</li>
</ul>

<p>In general you won’t use this resource method because
resources will already be excluded before you have a
chance to check them, and so any leftover resources
will always return <code>true</code> for this method.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns a value indicating whether
or not this resource belongs in the current target.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="resource.valid_features-instance_method">
  
    #<strong>resource.valid_features</strong>  &#x21d2; <tt>Array</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Returns an array of valid features for a resource
based on the current target, i.e., features that
are true for the current target.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Array</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns an array of features.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
    
  </div>


