




  <div class="method_details_list">
    
    
      
        <div class="method_details first">
  <h3 class="signature first" id="target_feature?-instance_method">
  
    #<strong>target_feature?</strong>(feature)  &#x21d2; <tt>Boolean</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Does the target have the feature <code>feature</code> enabled?</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>feature</span>
      
      
        <span class='type'>(<tt>String</tt>, <tt>Symbol</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Specifies a proposed
feature.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns <code>true</code> if the current target
has the features <code>feature</code> and the features is
enabled.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="target_name-instance_method">
  
    #<strong>target_name</strong>  &#x21d2; <tt>Symbol</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Return the current build target.</p>


  </div>
</div>
<div class="tags">
  
<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Symbol</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the current build target.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="target_name?-instance_method">
  
    #<strong>target_name?</strong>(proposal)  &#x21d2; <tt>Boolean</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Is the current target <code>proposal</code>?</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>proposal</span>
      
      
        <span class='type'>(<tt>String</tt>, <tt>Symbol</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Specifies a proposed
target.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns <code>true</code> if the current target
matches the parameter <code>proposal</code>.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
        <div class="method_details ">
  <h3 class="signature " id="target_value-instance_method">
  
    #<strong>target_value</strong>(key)  &#x21d2; <tt>String</tt>, <tt>Nil</tt> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    <p>Attempts to return arbitrary key values for the key
  <code>key</code> for the current target.</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>key</span>
      
      
        <span class='type'>(<tt>String</tt>, <tt>Symbol</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Specifies the desired key
to look up.</p>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt>String</tt>, <tt>Nil</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><p>Returns the value for <code>key</code> in
the <code>:targets</code> structure, or <code>nil</code> if it doesn’t
exist.</p>
</div>
      
    </li>
  
</ul>

</div>
</div>
      
    
  </div>


